.main{height: calc(100% - .96rem);background: #FFFFFF;}
.main input{border: 0;border-bottom: 1px solid ghostwhite;height: .8rem;margin: 0;}
input::-webkit-input-placeholder{color: #999999;}
.br{height: .2rem;background: ghostwhite;}
p{border-bottom: 1px solid ghostwhite;line-height: 1.5rem;height: 1.5rem;}
.dizhi-box{margin: .2rem;}
.dizhi-title{font-size: .26rem;font-weight: 600;}
.dizhi-text{color: #999999;}