@import url("reset.css");
body,
html {
	width: 100%;
	height: 100%;
	position: relative;
	color: #666666;
	margin: 0 auto;
	overflow: hidden
}

.logo {
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
	display: block
}
.star-box{display: flex;align-items: center;}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	background: #ffffff;
	padding: 0 0 0.1rem;
	height: 0.9rem
}

.footer-group {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.2rem;
	font-weight: bold;
	flex-direction: column
}

.footer-group img {
	height: 0.36rem;
	margin: 0.1rem 0
}

.factive {
	color: #FF8190
}

.footer-group .acimg {
	display: none
}

.footer-group .nindex {
	display: flex
}

.factive .acimg {
	display: flex
}

.factive .nindex {
	display: none
}

a {
	color: #333333
}

#nav {
	top: 0.8rem;
	left: 0;
	width: 100%
}

.wrapper {
	width: 100%;
	height: 100%;
	font-size: 0.26rem;
	background: rgb(248, 248, 248);
	line-height: normal;
	position: relative;
	overflow: hidden
}

.header {
	width: 100%;
	height: 0.9rem;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
	background: #FFFFFF
}

.header .header-back,
.header .header-settings {
	width: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap
}

.header .header-back img,
.header .header-settings img {
	height: 0.32rem
}

.header span {
	display: block;
	height: 0.9rem
}

.header .header-main {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.28rem;
	width: 4.24rem;
	height: 0.56rem;
	border-radius: 0.44rem;
	box-shadow: 0 0 11px 2px #E4E4E4;
	color: #8E8E93
}

.header .header-main02 {
	align-items: flex-start
}

.header input {
	height: 0.8rem;
	background: #FF8190;
	color: white;
	margin: 0;
	border: 0;
	line-height: 0.8rem
}

input::-webkit-input-placeholder {
	color: white;
	font-size: 0.2rem
}

.header-main input::-webkit-input-placeholder {
	color: white!important
}

.header-main input {
	flex: 1
}

.header-main .select {
	height: 2.4rem
}

.header-main .option {
	line-height: 0.8rem;
	background: #FF8190;
	padding: 0 0.15rem;
	border-bottom-left-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem
}

.main {
	width: 100%;
	height: calc(100% - 1.7rem);
	margin-top: 0.8rem;
	position: relative;
	color: #666666;
	overflow-y: scroll
}

.main-big {
	height: calc(100% - .8rem)
}

.mycart {
	position: absolute;
	right: 0.2rem;
	bottom: 0;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.8);
	width: 0.6rem;
	height: 0.6rem;
	z-index: 99;
	bottom: 0.3rem;
	box-shadow: 2px 2px 5px 2px #E4E4E4
}

.mycart img {
	width: 100%
}

.mycartindex {
	position: absolute;
	top: -.1rem;
	right: -.1rem;
	background: #FF8190;
	color: white;
	border-radius: 0.1rem;
	padding: 0.01rem 0.1rem;
	font-size: 0.2rem
}

.cartanimate {
	animation: animy 0.5s
}

.main-wrap {
	margin: 0 0.25rem
}

.index .mui-slider {
	height: 3rem;
	overflow: hidden
}

.mui-slider-indicator .mui-active.mui-indicator {
	background: #FF8190
}

.mui-slider-indicator .mui-indicator {
	background: white
}

.index .nav {
	width: 100%;
	display: flex;
	align-items: center;
	background: white;
	flex-wrap: wrap;
	padding: 0.3rem 0
}

.index .nav .img-box {
	margin: 0;
	border-radius: 50%;
	width: 0.7rem;
	height: 0.7rem;
	margin-bottom: 0.15rem
}

.index .nav-group {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.2rem;
	padding: 5px 0
}

.index .nav .img-box img {
	width: 0.82rem;
	height: 0.82rem;
	border-radius: 50%
}

.index .index-top {
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	text-indent: 0.2rem;
	background: white;
	margin-top: 0.2rem;
	border-bottom: 0.01rem solid ghostwhite;
	display: flex;
	justify-content: space-between
}

.index .index-top .lookmore {
	font-size: 0.2rem;
	color: #666666
}

.index .index-top img {
	height: 0.2rem
}

.index .index-main {
	width: 100%;
	overflow: hidden
}

.index .index-group {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.01rem solid ghostwhite;
	flex-direction: column;
	margin-bottom: 0.1rem;
	background: white;
	padding-top: 0.2rem;
	align-items: flex-end;
}

.index .group-inner {
	display: flex;
	justify-content: space-between;
	width: 100%
}

.index .prefer {
	overflow: hidden;
	margin: 0.1rem 0;
	display: flex;
	flex-wrap: wrap;
	width: 5.3rem;
}

.index .pauto {
	height: auto!important
}

.index .prefer-group {
	display: flex;
	height: 0.4rem;
	align-items: center;
}

.index .perer-name {
	color: #FF8190;
	border: 0.01rem solid #FF8190;
	border-radius: 2px;
	padding: 0 2px;
	margin-right: 0.1rem;
	height: 0.3rem;
	display: flex;
	align-items: center;
	font-size: 0.2rem;
	margin-left: 0.1rem
}

.index .prefer-text {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.index .prefer img {
	width: 0.3rem
}

.index .img-box {
	margin: 0.2rem
}

.index .img-box img {
	width: 1.6rem;
	border-radius: 2px;
	height: 1.6rem
}

.index .index-h {
	font-weight: bold;
	height: 0.5rem;
	overflow: hidden;
	font-size: 0.35rem;
	color: #333333;
}

.index .index-detail {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 1.6rem;
	margin: 0.2rem 0.2rem 0.2rem 0
}

.index .price {
	font-weight: bold;
	font-size: 0.4rem;
	color: #FF8190
}

.index .price block {
	font-size: 0.3rem
}
.adver-box{
	margin-top: .1rem;
}
.adver-logo{
	color: #FF8190;
	border: 1px solid #FF8190;
	font-size: .15rem;
	padding: 1px .05rem;
}
.index .index-money {
	color: #666666;
	display: flex;
	justify-content: space-between;
	line-height: 1;
	align-items: flex-end;
}

.index .news-group {
	margin: 0 0.3rem;
	display: flex;
	justify-content: space-between;
	height: 0.6rem;
	align-items: center
}

.index .news-group .new-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.index .top-tab {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center
}

.index .top-tab img {
	margin-left: 0.1rem
}

.index .index-x {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: space-between;
	margin-top: .2rem;
}

.index .index-x img {
	width: 0.25rem!important;
	height: 0.25rem!important
}

.index .shop-type {
	color: #999999;
	font-size: 0.2rem;
	display: flex;
	align-items: center;
	border: 0.01rem solid #8a8a8a;
	border-radius: 4px;
	padding: 0.01rem 2px
}

.index .news {
	display: flex;
	background: white;
	margin-top: 0.2rem
}

.index .news img {
	width: 0.7rem;
	height: 0.7rem;
	margin: 0.25rem
}

.index .news .news-list {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.index .news .new {
	line-height: 0.5rem;
	text-indent: 0.1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center
}

.index .news span {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FF6666;
	display: block;
	margin-right: 0.1rem
}

.index .new:nth-of-type(1) span {
	background: green!important
}

.index .more {
	display: flex;
	align-items: center;
	margin-right: 0.1rem
}

.index .more span {
	line-height: 100%;
	margin-top: 0.02rem
}

.index .active-img {
	display: none
}

.index .img-active .active-img {
	display: block
}

.index .img-active .default {
	display: none
}

.index .img-active {
	color: #FF8190
}

.header .header-back {
	justify-content: flex-start;
	margin-left: 0.2rem
}

.header .header-back img {
	margin-right: 0.1rem
}

.fade-enter-active,
.fade-leave-active {
	transform: translateY(0);
	transition: all 0.3s
}

.fade-enter,
.fade-leave-active {
	transform: translateY(100%)
}