html,body,.wrapper{overflow: hidden;height: 100%;}
.bottom{
	height: 1rem;
	background: #FF8190;
	color: #FFFFFF;
	text-align: center;
	line-height: 1rem;
}
.main{
	background: #F7F7F9;
	overflow: hidden;
	height: calc(100% - 1.9rem);
	margin-top: .9rem;
}
.group{
	margin-top: .2rem;
	background: #FFFFFF;
}
.price{
	color: #333333;
	text-align: center;
	padding: .4rem 0 .2rem;
	font-weight: bold;
}
.price span{font-size: .4rem;display: inline-block;padding-left: .1rem;}
.name{text-align: center;padding-bottom: .2rem;color: #7E7E7E;font-size: .2rem;}
.group img{height: .4rem;margin: 0 .2rem;}
.grou02{display: flex;align-items: center;padding: .3rem 0;}
.center{flex: 1;}
.title{color: #3A3F3F;font-size: .3rem;font-weight: bold;margin-bottom: .2rem;}
.balance{color: #7E7E7E;font-size: .2rem;}
.wallet01{position: relative;bottom: .2rem;}
.pay-input input{border: 0;border-bottom: 1px solid gainsboro;margin: .2rem 0;font-size: .35rem;}
.pay-input input:-webkit-input-placeholder{color: #666666;}