<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/taoyibao.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style type="text/css">
		body,html{overflow: hidden;}
		.head{position: fixed;top: 0;left: 0;width: 100%;display: flex;z-index: 999;padding: 0 .2rem;}
		.head span{display: flex;align-items: center;justify-content: center;white-space: nowrap;}
		.head div{flex: 1;display: flex;align-items: center;justify-content: center;}
		input::-webkit-input-placeholder{color:#333333!important;font-size: .2rem;}
		input{color:#333333!important;font-size: .2rem;}
	</style>
	<body>
		<div class="wrapper index search" style="overflow: hidden;" id="app">
			<!--顶部搜索框-->
			<header class="head">
				<span class="header-back mui-action-back">
					<img src="img/backblack.png"/>
				</span>
				</span>
				<form action="">
					<img src="img/shop02.png" />
					<input type="text" placeholder="搜一下，发现精彩" v-model="searchtext"/>
				</form>
				<span id="goserach" @click="gosearch('ttt')">
					搜索
				</span>
			</header>
			<div class="main" @scroll="myscroll" style="overflow-y: scroll;">
				<div class="search-top" v-show="!history">
					搜索历史
				</div>
				<div class="seearch-main" v-show="!history">
					<span v-show="!history&&historydata.length==0" style="width: 100%;text-align: center;display: block;margin: 0;">
						您还没有搜索过呢！
					</span>
					<span v-for="val in historydata" @click="historysearch(val)">
						{{val}}
					</span>
				</div>
				<div class="search-clear" v-show="!history&&historydata.length!=0" @click="clear">
					<img src="img/search_03.png"/>
					<span>
						清空搜索历史
					</span>
				</div>
				<p v-if="history&&tuidata==''" style="text-align: center;line-height: 1rem;">
					未查询到数据
				</p>
				<div class="main-inner">
				<div class="index-group">
						<div class="group-inner" @click="opendetail(val.usTraderStoresId,val.usTraderId)" v-if="history" v-for="val in tuidata">
							<div class="img-box">
								<img :src="val.usTsFacadeImg | myimg" />
							</div>
							<div class="index-detail">
								<div class="index-h">
									{{val.usTsCompanyName}}
								</div>
								<div class="index-x" style="align-items: flex-start;">
										<div class="x-group" v-for="item in val.starPercentage">
											<img src="img/xactive.png" />
										</div>
										<div class="x-group"v-for="item in (5 - val.starPercentage)">
											<img src="img/xhalf.png"/>
										</div>
								</div>
								<div class="index-x">
									<span class="shop-type">
									<img src="img/shopavatar.png"/>{{val.maMsName}}
								</span>
								</div>
								<div class="index-money">
									<span>
									起送:¥{{val.usTsActionPrice}} | 配送费:¥{{val.price}}
								</span>
								</span>
									<span>
									月销量:
									<strong>{{val.num}}</strong>
								</span>
								</div>
							</div>
						</div>
				</div>
			</div>
			</div>
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var myvue = new Vue({
				el: '#app',
				data: {
					history:false,
					searchtext:'',
					layui:false,
					layuitext:'未知错误',
					historydata:JSON.parse(localStorage.getItem('historydata')),
					myurl:localStorage.getItem('myurl'),
					tuidata:[],
					size:1,
					pageNum:0,
					ajaxmore:false
				},
				methods: {
					myscroll:function(){
						var that=this
						if(Math.abs($('.main-inner').offset().top)+$('.main').height()+200>=$('.main-inner').height()){
							if(that.ajaxmore==false){
								that.gosearch()
							}
						}
					},
					historysearch:function(text){
						this.searchtext=text
						this.gosearch()
					},
					gosearch:function(ttt){
						if(this.searchtext==''){
							this.layuiboo('您还没有输入内容呢~')
							return false;
						}
						this.pageNum++
						this.history=true
						this.historydata.push(this.searchtext)
						if(ttt=='ttt'){
							localStorage.setItem('historydata',JSON.stringify(this.historydata))
						}
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting("加载中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						this.ajaxmore=true
						var that=this
						$.ajax({
							type:"post",
							url:that.myurl+"/queryUsTraderStoresRecommendPojoByUsTsName",
							dataType:'json',
							data:{
								lng:localStorage.getItem('lng'),
								lat:localStorage.getItem('lat'),
								usTsName:that.searchtext,
								pageNum:that.pageNum
							},
							success:function(res){
								console.log(JSON.stringify(res))
								if(res.data.list!=null){
									that.size=res.data.pages
									that.ajaxmore=false
									for (var i=0;i<res.data.list.length;i++) {
										that.tuidata.push(res.data.list[i])
									}
								}else{
									that.tuidata=[]
								}
								
								function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
							},
							error:function(err){
								console.log(JSON.stringify(err))
							}
						});
					},
					layuiboo:function(text){
						this.layuitext=text
						this.layui=!this.layui
					},
					clear:function(){
						this.historydata=[]
						localStorage.setItem('historydata','[]')
					},
					opendetail: function(id,usTraderId) {
						localStorage.setItem('usTraderStoresId',id)
						localStorage.setItem('usTraderId',usTraderId)
						this.opennew('shop')
					},
					opennew: function(target, id) {
						mui.openWindow({
							url: '' + target + '.html',
							id: '' + target + ''
						})
					}
				},
				mounted: function() {
				},
				filters: {
					myimg: function(value) {
						return localStorage.getItem('myimg') + value.substring(value.indexOf('D:') + 1)
					}
				}
			})
	</script>

</html>