<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/taoyibao.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style type="text/css">
		body,html{overflow: hidden;}
		.head{position: fixed;top: 0;left: 0;width: 100%;display: flex;z-index: 999;padding: 0 .2rem;}
		.head span{display: flex;align-items: center;justify-content: center;white-space: nowrap;}
		.head div{flex: 1;display: flex;align-items: center;justify-content: center;}
		input::-webkit-input-placeholder{color:#333333!important;font-size: .2rem;}
		input{color:#333333!important;font-size: .2rem;}
	</style>
	<body>
		<div class="wrapper index search" style="overflow: hidden;" id="app">
			<!--顶部搜索框-->
			<header class="head">
				<span class="header-back mui-action-back">
					<img src="img/backblack.png"/>
				</span>
				</span>
				<form action="">
					<img src="img/shop02.png" />
					<input type="text" placeholder="搜一下，发现精彩" v-model="searchtext"/>
				</form>
				<span id="goserach" @click="gosearch">
					搜索
				</span>
			</header>
			<div class="main">
				<div class="search-top" v-show="!history">
					搜索历史
				</div>
				<div class="seearch-main" v-show="!history">
					<span v-show="!history&&historydata.length==0" style="width: 100%;text-align: center;display: block;margin: 0;">
						您还没有搜索过呢！
					</span>
					<span v-for="val in historydata">
						{{val}}
					</span>
				</div>
				<div class="search-clear" v-show="!history&&historydata.length!=0" @click="clear">
					<img src="img/search_03.png"/>
					<span>
						清空搜索历史
					</span>
				</div>
				<div class="index-group" @click="opendetail()" v-show="history" v-for="val in tuidata">
						<div class="group-inner">
							<div class="img-box">
								<img src="img/index02.png" />
							</div>
							<div class="index-detail">
								<div class="index-h">
									{{val.usTsCompanyName}}
								</div>
								<div class="index-x" style="align-items: flex-start;">
									<div class="x-group">
											<img src="img/xactive.png" v-if="val.usSsStar>=1" />
											<img src="img/xhalf.png" v-if="val.usSsStar1" />
										</div>
										<div class="x-group">
											<img src="img/xactive.png" v-if="val.usSsStar>=2" />
											<img src="img/xhalf.png" v-if="val.usSsStar<1" />
										</div>
										<div class="x-group">
											<img src="img/xactive.png" v-if="val.usSsStar>=3" />
											<img src="img/xhalf.png" v-if="val.usSsStar<3" />
										</div>
										<div class="x-group">
											<img src="img/xactive.png" v-if="val.usSsStar>=4" />
											<img src="img/xhalf.png" v-if="val.usSsStar<4" />
										</div>
										<div class="x-group">
											<img src="img/xactive.png" v-if="val.usSsStar>=5" />
											<img src="img/xhalf.png" v-if="val.usSsStar<5" />
										</div>
								</div>
								<div class="index-x">
									<span class="shop-type">
									<img src="img/shopavatar.png"/>小吃快餐
								</span>
								</div>
								<div class="index-money">
									<span>
									起送:¥{{val.usTsActionPrice}} | 配送费:¥{{val.peisong}}
								</span>
								</span>
									<span>
									月销量:
									<strong>{{val.xiaoliang}}</strong>
								</span>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var myvue = new Vue({
				el: '#app',
				data: {
					history:false,
					searchtext:'',
					layui:false,
					layuitext:'未知错误',
					historydata:JSON.parse(localStorage.getItem('historydata')),
					myurl:localStorage.getItem('myurl'),
					tuidata:''
				},
				methods: {
					gosearch:function(){
						if(this.searchtext==''){
							this.layuiboo('您还没有输入内容呢~')
							return false;
						}
						this.history=true
						this.historydata.push(this.searchtext)
						localStorage.setItem('historydata',JSON.stringify(this.historydata))
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting("加载中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						var that=this
						$.ajax({
							type:"get",
							url:that.myurl+"/queryUsTraderStoresRecommendPojoByUsTsName",
							data:{
								lng:'117.2543334961',
								lat:'34.2650727570',
								usTsName:that.searchtext
							},
							success:function(res){
								that.tuidata = res.data
								for(var i = 8; i < res.data.length; i = i + 9) {
									that.tuidata[0][parseInt(i / 8) - 1].xiaoliang = res.data[i]
									that.tuidata[0][parseInt(i / 8) - 1].peisong = res.data[i - 2].maDiPrice
									that.tuidata[0][parseInt(i / 8) - 1].xinren = res.data[i - 7]
									that.tuidata[0][parseInt(i / 8) - 1].manjian = res.data[i - 6]
									that.tuidata[0][parseInt(i / 8) - 1].zhekou = res.data[i - 5]
									that.tuidata[0][parseInt(i / 8) - 1].hongbao = res.data[i - 4]
									that.tuidata[0][parseInt(i / 8) - 1].renjun = res.data[i]
									that.tuidata[0][parseInt(i / 8) - 1].juli = res.data[i - 1]
								}
								console.log(that.tuidata)
								function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
							}
						});
					},
					layuiboo:function(text){
						this.layuitext=text
						this.layui=!this.layui
					},
					clear:function(){
						this.historydata=[]
						localStorage.setItem('historydata','[]')
					}
				},
				mounted: function() {
					if(localStorage.getItem('historydata')==undefined){
						localStorage.setItem('historydata','[]')
					}
				}
			})
	</script>

</html>