<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/taoyibao.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
	</head>
	<style type="text/css">
		body,html{background: #fff;position: relative;}
	</style>
	<body>
		<div class="wrapper login" id="app">
			<video src="img/loginback.mp4" autoplay="" loop=""></video>
			<div class="main">
				<img src="img/logo.png" class="logo"/>
				<form action="">
					<div class="input-group" v-show="!code">
						<img src="img/login_07.png"/>
						<input type="number" placeholder="请输入手机号" v-model="phone"/>
						<img src="img/login_10.png" id="clear" @click="cleaar"/>
					</div>
					<transition name='fade'>
						<div class="input-group" v-show="code">
							<img src="img/login_14.png"/>
							<input type="password" placeholder="请输入验证码" v-model="pwd"/>
							<div @click="addcode">
								{{codenum}}
							</div>
						</div>
					</transition>
					<input type="button" name="mysubmit" id="mysubmit" v-model="submittext" @click="gosubmit"/>
					<div class="input-group" style="border: 0;">
						<span>
							微信登录
						</span>
						<span style="text-align: right;">
							QQ登录
						</span>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'#app',
				data:{
					phone:'',
					pwd:'',
					code:false,
					submittext:'下一步',
					codenum:60
				},
				methods:{
					opennew:function(target){
						mui.openWindow({
							url: '' + target + '.html',
							id: '' + target + ''
						})
					},
					gosubmit:function(){
						if(this.submittext=='登录'){
							this.opennew('index')
						}
						this.code=true
						this.submittext='登录'
						var that=this
						setInterval(function(){
							that.codenum=that.codenum-1
						},1000)
					},
					cleaar:function(){
						this.phone=''
					},
					addcode:function(){
						if(this.codenum=='获取验证码'){
							this.codenum=60
							setInterval(function(){
								that.codenum=that.codenum-1
							},1000)
							
						}
					}
				}
			})
		</script>
	</body>
</html>
