<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	</head>
	<body>
		<div id="app" class="wrapper money">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
				<header class="header">
					<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
					<span class="header-main">我的红包</span>
					<span class="header-settings">
						
					</span>
				</header>
			<div class="main mui-scroll-wrapper main-big">	
				<div class="mui-scroll">
					<img src="img/blank.png" class="blank" v-if="mydata.length==0"/>
					<div class="money-item" v-for="(val,index) in mydata" v-if="val.usPmStyle==8">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.listAllPackage.maRePrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									平台红包
								</h1>
								<p>
									{{val.listAllPackage.maReLimitTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.listAllPackage.maReLimit}}可用,限最新版本客户端使用</span>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata" v-if="val.usPmStyle==72">
						<div class="money-top">
							<div class="money-price">
								<span>{{val.listAllPackage.usTdDicsont/10}}</span>折
							</div>
							<div class="money-main">
								<h1>
									折扣红包
								</h1>
								<p>
									{{val.listAllPackage.usTdAbortTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>限购{{val.listAllPackage.usTdNum}}张,限最新版本客户端使用</span>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata" v-if="val.usPmStyle==74">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.listAllPackage.usTnaPrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									新人红包
								</h1>
								<p>
									{{val.listAllPackage.usTnaAbortTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>限最新版本客户端使用</span>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata" v-if="val.usPmStyle==71">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.listAllPackage.usTpPrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									红包
								</h1>
								<p>
									{{val.listAllPackage.usTpAbortTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.listAllPackage.usTpLimitPrice}}可用,限最新版本客户端使用</span>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata" v-if="val.usPmStyle==73">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.listAllPackage.usTsSubtractPrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									满减红包
								</h1>
								<p>
									{{val.listAllPackage.usTpAbortTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.listAllPackage.usTsFullPrice}}可用,限最新版本客户端使用</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext:'确定领取卡卷吗?',
					searchtype:localStorage.getItem('searchdpeata'),
					myurl:localStorage.getItem('myurl'),
					mydata:[],
					mydata01:[]
				},
				methods: {
					layuitrue:function(){
						this.layuiboo()
					},
					layuiboo: function(text) {
						this.layuitext=text
						this.layui = !this.layui
					},
					opennew:function(target){
						mui.openWindow({
							url:''+target+'.html',
							id:target
						})
					},
					myajax:function(){
						var that=this
						$.ajax({
							type:"get",
							url:that.myurl+"/queryByMaRedMiddleUserPojoRedY",
							data:{
								usUserId:localStorage.getItem('userid')
							},
							dataType:'json',
							success:function(res){
								that.mydata=res.data
								console.log(that.mydata)
							},
							error:function(res){
								console.log(res)
							}
						});
					}
				},
				mounted: function() {
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0006 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
					this.myajax()
				},
				update: function() {
					
				}
			})
		</script>
	</body>

</html>