<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	</head>
	<body>
		<div id="app" class="wrapper money">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
				<header class="header">
					<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
					<span class="header-main">我的红包</span>
					<span class="header-settings">
						
					</span>
				</header>
			<div class="main mui-scroll-wrapper main-big">	
				<div class="mui-scroll">
					<div class="money-item" v-for="(val,index) in mydata01">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.maRePrice==undefined?val.usApPrice:val.maRePrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									红包
								</h1>
								<p>
									{{val.createTime1}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.maReLimit==undefined?val.usApPriceLimit:val.maReLimit}}可用,限最新版本客户端使用</span>
							<div class="join" @click="havecollect(1,val.maRedEnvelopeId==undefined?val.usAgentPackageId:val.maRedEnvelopeId)">
								立即领取
							</div>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata[0]">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.maRePrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									红包
								</h1>
								<p>
									{{val.maReLimitTime1}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.maReLimit}}可用,限最新版本客户端使用</span>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata[1]">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.usApPrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									红包
								</h1>
								<p>
									{{val.usApLimitTime1}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.usApPriceLimit}}可用,限最新版本客户端使用</span>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata[2]">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.usTpPrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									红包
								</h1>
								<p>
									{{val.usTdAbortTime1}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.usTpLimitPrice}}可用,限最新版本客户端使用</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext:'确定领取卡卷吗?',
					searchtype:localStorage.getItem('searchdpeata'),
					myurl:localStorage.getItem('myurl'),
					mydata:'',
					mydata01:[]
				},
				methods: {
					layuitrue:function(){
						this.layuiboo()
					},
					layuiboo: function(text) {
						this.layuitext=text
						this.layui = !this.layui
					},
					opennew:function(target){
						mui.openWindow({
							url:''+target+'.html',
							id:target
						})
					},
					myajax:function(){
						var that=this
						$.ajax({
							type:"get",
							url:that.myurl+"/queryByMaRedMiddleUserPojoRed",
							data:{
								usUserId:'a32730a8-80ee-11e8-9366-00155dc504d0'
							},
							dataType:'json',
							success:function(res){
								that.mydata=res.data
								console.log(that.mydata)
							},
							error:function(res){
								console.log(res)
							}
						});
					}
				},
				mounted: function() {
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0006 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
					this.myajax()
				},
				update: function() {
					
				}
			})
		</script>
	</body>

</html>