<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=3adc59b361b877d943cda0ce50b9b4da"></script>
	</head>
	<style type="text/css">
		.fade-enter-active,
		.fade-leave-active {
			transition: all .6s ease-in;
		}
		
		.fade-enter,
		.fade-leave-active {
			opacity: 0;
			transform: translateX(100%);
		}
		
		.fada-enter-active,
		.fada-leave-active {
			transition: all .4s linear;
		}
		
		.fada-enter,
		.fada-leave-active {
			opacity: 0;
		}
	</style>

	<body>
		<div id="app" class="wrapper index">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header" v-show="sarchboo">
				<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">我的足迹</span>
				<span class="header-settings">
							
					</span>
			</header>
			<div class="main mui-scroll-wrapper">
				<div class="index-main mui-scroll">
					<div class="index-group" @click="opendetail()" v-for="val in collectdata">
						<div class="group-inner">
							<div class="img-box">
								<img :src="val.usTsFacadeImg" />
							</div>
							<div class="index-detail">
								<div class="index-h">
									{{val.usTsCompanyName}}
								</div>
								<div class="index-x" style="align-items: flex-start;">
											<div class="x-group">
												<img src="img/xactive.png" v-if="val.usSsStar>=1"/>
												<img src="img/xhalf.png"  v-if="val.usSsStar1"/>
											</div>
											<div class="x-group">
												<img src="img/xactive.png" v-if="val.usSsStar>=2"/>
												<img src="img/xhalf.png"  v-if="val.usSsStar<1"/>
											</div>
											<div class="x-group">
												<img src="img/xactive.png" v-if="val.usSsStar>=3"/>
												<img src="img/xhalf.png"  v-if="val.usSsStar<3"/>
											</div>
											<div class="x-group">
												<img src="img/xactive.png" v-if="val.usSsStar>=4"/>
												<img src="img/xhalf.png"  v-if="val.usSsStar<4"/>
											</div>
											<div class="x-group">
												<img src="img/xactive.png" v-if="val.usSsStar>=5"/>
												<img src="img/xhalf.png"  v-if="val.usSsStar<5"/>
											</div>
										</div>
								<div class="index-x">
									<span class="shop-type">
									<img src="img/shopavatar.png"/>我的收藏
								</span>
								</div>
								<div class="index-money">
														<span>
												起送:¥{{val.usTsActionPrice}} | 配送费:¥{{val.maDiPrice}}
											</span>
														<span>
												月销量:
												<strong>69</strong>
											</span>
								</div>
							</div>
						</div>
						<transition name='fade'>
							<div class="delete" v-show="nocollect" @click="layuiboo(val.usCollectionId)">
								删除
							</div>
						</transition>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					city: '徐州',
					sarchboo: true,
					searchdata: '',
					shoptype: true,
					layuitext: '您输入的内容为空!!'
				},
				methods: {
					prefershow: function(index) {
						if($('.prefer').eq(index).attr('class') == 'prefer') {
							$('.prefer').eq(index).addClass('pauto')
						} else {
							$('.prefer').eq(index).removeClass('pauto')
						}
					},
					layuiboo: function() {
						this.layui = !this.layui
					},
					opendetail: function(id) {
						//						localStorage.setItem('goodsid',id)
						this.opennew('shop')
					},
					opennew: function(target) {
						mui.openWindow({
							url: '' + target + '.html',
							id: '' + target + ''
						})
					},
					myajax:function(){
						var that=this
						$.ajax({
							type:"get",
							url:myurl+"/queryUsTraderStoresRecommendPojoByUsFootprint",
							data:{
								usUserId:localStorage.getItem('userid')
							},
							async:true,
							success:function(res){
								that.collectdata=res.data
							}
						});
					}
				},
				mounted: function() {
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0006 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
				},
				update: function() {

				}
			})
		</script>
	</body>

</html>