<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=3adc59b361b877d943cda0ce50b9b4da"></script>
	</head>
	<style type="text/css">
		.fade-enter-active,
		.fade-leave-active {
			transition: all .6s ease-in;
		}
		
		.fade-enter,
		.fade-leave-active {
			opacity: 0;
			transform: translateX(100%);
		}
		
		.fada-enter-active,
		.fada-leave-active {
			transition: all .4s linear;
		}
		
		.fada-enter,
		.fada-leave-active {
			opacity: 0;
		}
	</style>

	<body>
		<div id="app" class="wrapper index">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header" v-show="sarchboo">
				<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">我的足迹</span>
				<span class="header-settings">
							
					</span>
			</header>
			<div class="main main-big" style="overflow-y: scroll;">
				<img src="img/blank.png" class="blank" v-if="collectdata.length==0"/>
				<div class="index-main"v-if="collectdata.length!=0">
					<div class="index-group" @click="opendetail(val.usTraderStoresId)" v-for="(val,index) in collectdata">
						<div class="group-inner">
							<div class="img-box">
								<img :src="val.usTsFacadeImg | myimg" />
								<!--<img src="img/index.jpg"/>-->
							</div>
							<div class="index-detail">
								<div class="index-h">
									{{val.usTsName}}
								</div>
								<div class="index-x" style="align-items: flex-start;">
									{{val.usTsCompanyName}}
								</div>
								<div class="index-x">
									<span class="shop-type">
									<img src="img/shopavatar.png"/>我的收藏
								</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					city: '徐州',
					sarchboo: true,
					searchdata: '',
					shoptype: true,
					layuitext: '您输入的内容为空!!',
					myurl: localStorage.getItem('myurl'),
					collectdata: []
				},
				methods: {
					prefershow: function(index) {
						if($('.prefer').eq(index).attr('class') == 'prefer') {
							$('.prefer').eq(index).addClass('pauto')
						} else {
							$('.prefer').eq(index).removeClass('pauto')
						}
					},
					layuiboo: function() {
						this.layui = !this.layui
					},
					opendetail: function(id) {
						localStorage.setItem('usTraderStoresId',id)
						this.opennew('shop')
					},
					opennew: function(target) {
						mui.openWindow({
							url: '' + target + '.html',
							id: '' + target + ''
						})
					},
					myajax: function() {
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting("加载中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						var that = this
						$.ajax({
							type: "post",
							url: that.myurl + "/queryUsTraderStoresRecommendPojoByUsFootprintY",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('userid')						
							},
							success: function(res) {
								console.log(res)
								that.collectdata = res.data
								function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
							}
						});
					}
				},
				mounted: function() {
					this.myajax()
				},
				update: function() {

				},
				filters:{
					myimg:function(value){
						return localStorage.getItem('myimg') + value.substring(value.indexOf('D:')+1)
					}
				}
			})
		</script>
	</body>

</html>