<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style type="text/css">
		.index-detail {margin-left: .2rem!important;}
		.index-group {flex-direction: row!important;}
		.swiper-container{z-index: 22!important;}
	</style>

	<body>
		<div id="app" class="wrapper index newlist">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header" v-show="sarchboo">
				<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">今日头条</span>
				<span class="header-settings" @click="opennew('rating',true)">
						发布
					</span>
			</header>
			<div class="main">
				<div class="newnav">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="(val,index) in navdata" :class="shoptype==val.maMerchantsStyleId?'active':''" @click="change(val.maMerchantsStyleId)">
								{{val.maMsName}}
							</div>
						</div>
					</div>
				</div>
				<div class="index-main mui-scroll-wrapper" style="margin-top: .7rem;">
					<div class="swiper-container swiper-container02 mui-scroll">
						<div class="index-group" @click="opennew('newdetail',val.maPublicNewsId)" v-for="val in newdata" v-if="val.maMerchantsStyleId==shoptype">
							<div class="index-detail">
								<div class="new-h">
									{{val.maPnTitle}}
								</div>
								<div class="index-money">
									<span>
										{{val.maPnCreateName}}
									</span>
									<span>
										{{val.createTime1}}
									</span>
								</div>
							</div>
							<div class="img-box" v-if="val.maPnImg1!=null&&val.maPnImg1!=''">
								<img :src="val.maPnImg1" />
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					city: '徐州',
					sarchboo: true,
					searchdata: '',
					shoptype: '',
					layuitext: '您输入的内容为空!!',
					mySwiper: '',
					myurl: localStorage.getItem('myurl'),
					navdata: '',
					newdata: ''
				},
				methods: {
					layuiboo: function() {
						this.layui = !this.layui
					},
					searchboo: function() {
						this.sarchboo = !this.sarchboo
					},
					change: function(index) {
						this.shoptype = index
					},
					opennew: function(target, id) {
						localStorage.setItem('maPublicNewsId', id)
						mui.openWindow({
							url: '' + target + '.html',
							id: '' + target + ''
						})
					},
					myajax: function() {
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting("加载中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						var that = this
						//						获取分类
						$.ajax({
							type: "get",
							url: this.myurl + "/queryMaMerchantsStyleAll",
							dataType: 'json',
							success: function(res) {
								that.navdata = res.data
							}
						});
						//						获取所有新闻
						$.ajax({
							type: "get",
							url: this.myurl + "/queryMaPublicNewsPojoAll",
							dataType: 'json',
							success: function(res) {
								console.log(res)
								if(res.data!=null){
									that.newdata = res.data
									that.shoptype = res.data[0].maMerchantsStyleId
								}
							}
						});

						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.closeWaiting()
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
					}
				},
				mounted: function() {
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0006 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
					var that = this
					var myswiper = new Swiper('.swiper-container', {
						slidesPerView: 3,
						spaceBetween: 30,
					});
					this.mySwiper = new Swiper('.swiper-container02', {
						nested: true,
						on: {
							slideChangeTransitionEnd: function() {
								that.shoptype = this.activeIndex
							}
						},
					})
					this.myajax()
				},
				update: function() {

				}
			})
		</script>
	</body>

</html>