<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style type="text/css">
		body,html,.wrapper,.main{height: 100%;}
	</style>
	<body>
		<div id="app" class="wrapper orderlist">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back" @click="opennew('user')">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">我的订单</span>
				<span class="header-settings">
						
					</span>
			</header>
			<div class="main" style="height: calc(100% - .8rem);">
				<div class="nav">
					<div class="nav-tab" :class="tabnum==10?'active':''" @click="tab(10)">
						全部
					</div>
					<div class="nav-tab" :class="tabnum==0?'active':''" @click="tab(0)">
						等待接单
					</div>
					<div class="nav-tab" :class="tabnum==2?'active':''" @click="tab(2)">
						配送中
					</div>
					<div class="nav-tab" :class="tabnum==3?'active':''" @click="tab(3)">
						已完成
					</div>
				</div>
				<div class="swiper-container" style="height: calc(100% - 1rem);overflow-y: scroll;">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<p>
								暂无订单
							</p>
							<div class="order-group" @click="opennew('orderdetail',val.usOrderId,val.usTraderStoresId,val.maMerchantsStyleId,val.usTraderId)" v-for="val in orderdata" v-if='(tabnum==10?true:val.usOrIsCancel==tabnum)&&val.usTsFacadeImg!=null'>
								<img :src="val.usTsFacadeImg | myimg"/>
								<div class="order-main">
									<div class="order-text">
										<span class="order-name">
											{{val.usTsCompanyName}}
										</span>
										<span class="order-state" v-if='val.usOrIsPay==0'>
											待付款
										</span>
										<span class="order-state" v-if='val.usOrIsPay==1'>
											{{val.usOrIsCancel | mytype}}
										</span>
									</div>
									<div class="order-time">
										下单时间:{{val.createTime1}}
									</div>
									<div class="order-money">
										<span class="oder-price">
											总价： ¥ {{val.usOrPrice}}
										</span>
										
									</div>
								</div>
							</div>
						</div>
						<!--<img src="img/orderhistory_03.png" class="noorder" />-->
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '错误',
					searchtype: localStorage.getItem('searchdpeata'),
					mySwiper:'',
					tabnum:10,
					orderdata:'',
					myurl:localStorage.getItem('myurl')
				},
				methods: {
					tab:function(index){
						this.tabnum=index
					},
					layuiboo: function() {
						this.layui = !this.layui
					},
					opennew: function(target,usOrderId,usTraderStoresId,maMerchantsStyleId,usTraderId) {
						localStorage.setItem('usOrderId',usOrderId)
						localStorage.setItem('usTraderStoresId',usTraderStoresId)
						localStorage.setItem('maMerchantsStyleId',maMerchantsStyleId)
						localStorage.setItem('usTraderId',usTraderId)
						mui.openWindow({
							url: ''+target+'.html',
							id: target
						})
					},
					myajax:function(){
						var that=this
						$.ajax({
							type:"get",
							url:that.myurl+"/queryByUsOrderPojoAndUsUserId",
							dataType:'json',
							data:{
								usUserId:localStorage.getItem('userid')
							},
							success:function(res){
								console.log(res)
								that.orderdata=res.data
							}
						});
					}
				},
				mounted: function() {
					this.myajax()
				},
				update: function() {
					mui.init()
				},
				filters:{
					myimg:function(value){
						if(value!=null){
							return localStorage.getItem('myimg') + value.substring(value.indexOf('D:')+1)
						}
					},
					mytype:function(value){
						switch (value){
							case 0:
							return '等待接单'
								break;
							case 1:
							return '等待配送'
								break;	
							case 2:
							return '配送中'
								break;
							case 3:
							return '已完成'
								break;	
							case 4:
							return '取消订单'
								break;
							case 5:
							return '等待退款'
								break;
							case 6:
							return '退款成功'
								break;
							default:
							return '异常订单'
								break;
						}
					}
				}
			})
		</script>
	</body>

</html>