<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<style type="text/css">
		body,
		html,
		.wrapper,
		.main {
			height: 100%;
		}
		.btn-group{display: flex;align-items: center;justify-content: flex-end;}
		.setting-btn{width: 1.2rem;height: .5rem;display: flex;align-items: center;justify-content: center;border: 1px solid #979797;margin-right: .2rem;}
		.setting-btn:last-of-type{border: 1px solid #FF8190;color: #FF8190;}
	</style>

	<body>
		<div id="app" class="wrapper orderlist">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back" @click="opennew('index')">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">我的订单</span>
				<span class="header-settings">
						
					</span>
			</header>
			<div class="main" style="height: calc(100% - .8rem);background: #FFFFFF;">
				<div class="order-top">
					<div class="order-box order-active">
						外卖订单
					</div>
					<div class="order-box" @click="opennew('./instead/order')">
						跑腿订单
					</div>
				</div>
				<div class="nav">
					<div class="nav-tab" :class="tabnum==10?'active':''" @click="tab(10)">
						全部
					</div>
					<div class="nav-tab" :class="tabnum==1?'active':''" @click="tab(1)">
						等待接单
					</div>
					<div class="nav-tab" :class="tabnum==2?'active':''" @click="tab(2)">
						配送中
					</div>
					<div class="nav-tab" :class="tabnum==3?'active':''" @click="tab(3)">
						已完成
					</div>
				</div>
				<div class="swiper-container" style="height: calc(100% - 1rem);overflow-y: scroll;">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<p>
								暂无订单
							</p>
							<div class="order-group" @click="opennew('orderdetail',val.usOrderId,val.usTraderStoresId,val.maMerchantsStyleId,val.usTraderId)" v-for="val in orderdata" v-if='(tabnum==10?true:val.usOrIsCancel==tabnum)&&val.usTsFacadeImg!=null'>
								<img :src="val.usTsFacadeImg | myimg" />
								<div class="order-main">
									<div class="order-text">
										<span class="order-name">
											{{val.usTsCompanyName}}
										</span>
										<span class="order-state" v-if='val.usOrIsPay==0'>
											待付款
										</span>
										<span class="order-state" v-if='val.usOrIsPay==1'>
											<block v-if='val.usOrTrStartus==1||val.usOrIsCancel==6'>{{val.usOrIsCancel | mytype}}</block>
											<block v-if='val.usOrTrStartus==2&&val.usOrIsCancel!=6'>等待接单</block>
										</span>
									</div>
									<div class="order-time">
										下单时间:{{val.createTime1}}
									</div>
									<div class="order-money">
										<span class="oder-price">
											总价： ¥ {{val.usOrPrice}}
										</span>

									</div>
									<div class="btn-group">
										<div class="setting-btn" @click.stop="deleteorder(val.usOrderId)">
											删除订单
										</div>
										<div class="setting-btn" @click.stop="openshop(val.usTraderStoresId)">
											再来一单
										</div>
										<div class="setting-btn" @click.stop="openrating(val.usOrderId)" v-if='val.usOrOrderEvaluateStatus==0&&val.usOrIsCancel==3'>
											发表评价
										</div>
										<div class="setting-btn" @click.stop="gopay(val.usOrderId,val.usOrPrice)" v-if='val.usOrIsPay==0'>
											我要支付
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--<img src="img/orderhistory_03.png" class="noorder" />-->
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '错误',
					searchtype: localStorage.getItem('searchdpeata'),
					mySwiper: '',
					tabnum: 10,
					orderdata: '',
					myurl: localStorage.getItem('myurl'),
					channel:''
				},
				methods: {
					deleteorder:function(id){
						var that=this
						$.ajax({
							type: "post",
							url: that.myurl + "/updateUsOlderDeleteId ",
							dataType: 'json',
							data: {
								usOrderId:id
							},
							success: function(res) {
								if(res.data==1){
									plus.nativeUI.toast('删除成功')
									
								}else{
									plus.nativeUI.toast('删除失败')
								}
								that.myajax()
							},
							error: function(err) {
								alert(JSON.stringify(err))
							}
						});
					},
					openrating:function(id){
						localStorage.setItem('usOrderId',id)
						mui.openWindow({
							url:'orderrating.html'
						})
					},
					gopay: function(id,price) {
						var that = this,
							ajaxjons,
							index
						plus.nativeUI.confirm("请选择您的支付方式！", function(e) {
							if(e.index == 0) {
								$.ajax({
									type: "post",
									url: that.myurl + "/continueAliPay",
									dataType: 'json',
									data: {
										price:price,
										orderId: id,
										statusPay: 1
									},
									success: function(res) {
										plus.payment.request(that.channel[0], res.data[0], function(result) {
											that.myajax()
										}, function(error) {
											alert('支付失败')
										});

									},
									error: function(err) {
										alert(JSON.stringify(err))
									}
								});
							} else {
								$.ajax({
									type: "post",
									url: that.myurl + "/continueAliPay",
									dataType: 'json',
									data: {
										price: price,
										orderId: id,
										statusPay: 2
									},
									success: function(res) {
										plus.payment.request(that.channel[1], res, function(result) {
											that.myajax()
										}, function(error) {
											alert('支付失败')
										});
									},
									error: function(err) {
										alert(JSON.stringify(err))
									}
								});
							}
						}, {
							"title": "支付方式",
							"buttons": ["支付宝", "微信"]
						});

					},
					openshop: function(id) {
						localStorage.setItem('usTraderStoresId', id)
						mui.openWindow({
							url: 'shop.html',
							id: 'shop',
							createNew: true
						})
					},
					tab: function(index) {
						this.tabnum = index
					},
					layuiboo: function() {
						this.layui = !this.layui
					},
					opennew: function(target, usOrderId, usTraderStoresId, maMerchantsStyleId, usTraderId) {
						localStorage.setItem('usOrderId', usOrderId)
						localStorage.setItem('usTraderStoresId', usTraderStoresId)
						localStorage.setItem('maMerchantsStyleId', maMerchantsStyleId)
						localStorage.setItem('usTraderId', usTraderId)
						mui.openWindow({
							url: '' + target + '.html',
							id: target
						})
					},
					myajax: function() {
						var that = this
						$.ajax({
							type: "get",
							url: that.myurl + "/queryByUsOrderPojoAndUsUserId",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('userid')
							},
							success: function(res) {
								that.orderdata = res.data
							}
						});
					}
				},
				mounted: function() {
					$(document).ready(function() {
						if(window.history && window.history.pushState) {
							$(window).on('popstate', function() {
								window.history.pushState('forward', null, '#');
								window.history.forward(1);
							});
						}
						window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
						window.history.forward(1);
					});
					var that = this
					localStorage.setItem('addsta', 0)
					this.myajax()
					window.addEventListener("xiadanyemian", function() {
							that.myajax()			
					})
					function plusReady() {
						if(plus.webview.getWebviewById('pay') != null) {
							plus.webview.close('pay')
						}
						plus.payment.getChannels(function(channels) {
							that.channel = channels;
							that.myajax()
						}, function(e) {
							alert("获取支付通道失败：" + e.message);
						});
					}
					if(window.plus) {
						plusReady();
					} else {
						document.addEventListener("plusready", plusReady, false);
					}
				},
				update: function() {
					mui.init()
				},
				filters: {
					myimg: function(value) {
						if(value != null) {
							return localStorage.getItem('myimg') + value.substring(value.indexOf('D:') + 1)
						}
					},
					mytype: function(value) {
						switch(value) {
							case 1:
								return '等待配送'
								break;
							case 2:
								return '配送中'
								break;
							case 3:
								return '已完成'
								break;
							case 4:
								return '取消订单'
								break;
							case 5:
								return '等待退款'
								break;
							case 6:
								return '退款成功'
								break;
							default:
								return '异常订单'
								break;
						}
					}
				}
			})
		</script>
	</body>

</html>