<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/date.css"/>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/date.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=3adc59b361b877d943cda0ce50b9b4da"></script>
		<script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	</head>

	<body>
		<div id="app" class="wrapper orderdetail">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">支付</span>
				<span class="header-settings"></span>
			</header>
			<div class="main pay" style="overflow-y: scroll;height: calc(100% - .8rem);">
				<div class="pay-inner" @click="opennew('adresslist')" v-if="adressdata.length!=0">
					<div class="payh">
						{{adressdata.usAdsProvince}}{{adressdata.usAdsCity}}{{adressdata.usAdsArea}}
					</div>
					<div class="paup">
						{{adressdata.usAdsDetailed}}
					</div>
					<div class="paup">
						{{adressdata.usAdsCreateName}}
					</div>
				</div>
				<div class="pay-inner" @click="opennew('adresslist')" v-if="adressdata.length==0">
					<div class="payh">
						点击选择收货地址
					</div>
				</div>
				<div class="detail-group content">
					<div class="shop-name" @click="opennew('shop',cartdata.usTraderStoresId)">
						<img :src="cartdata.usTsFacadeImg | myimg" class="avatar" />
						<span style="flex: 1;">
								{{cartdata.usTsCompanyName}}
							</span>
						<img src="img/arrright.png" class="arr" />
					</div>
					<div class="shop-group" v-for="val in cartdata.usShoppingCartPojos" @click="opennew('shop',cartdata.usTraderStoresId)">
						<img :src="val.usTsImgUrl | myimg" />
						<div class="shop-main">
							<div class="shop-name" style="margin: 0;">
								<span>
									{{val.usTsName}}
								</span>
								<span>
									¥{{val.usScdPrice}}
								</span>
							</div>
							<div class="shop-type">

							</div>
							<div class="shop-type">
								x {{val.usScdNum}}
							</div>
						</div>
					</div>
					<div class="shop-back" v-if="discountdata!=''">
						<div class="back-inner" style="flex-direction: column;">
							<div class="back-group">
								<span>
									包装费
								</span>
								<span>
									¥{{allfee}}
								</span>
							</div>
							<div class="back-group">
								<span>
									配送费
								</span>
								<span>
									¥{{discountdata.listMaDistributionUsPackingFee.maDiPrice}}
								</span>
							</div>
						</div>
					</div>
					<div class="shop-back" style="height: auto;" v-if="discountdata!=''">
						<div class="back-inner" style="flex-direction: column;">
							<div class="back-group" v-if="discountdata.listNewActivities.length!=0" @click="achange('x')">
								<img src="img/xin.png" class="logo" />
								<span class="grey">
									新人立减
								</span>
								<span>
									-  ¥{{discountdata.listNewActivities[xindex].usTnaPrice}}
								</span>
								<img src="img/arrright.png" class="arr" />
							</div>
							<div class="back-group" v-if="discountdata.listDiscount.length!=0" @click="achange('z')">
								<img src="img/zhe.png" class="logo" />
								<span class="grey">
									折扣优惠
								</span>
								<span>
									{{discountdata.listDiscount[zindex].usTdDicsont/10}}折
								</span>
								<img src="img/arrright.png" class="arr" />
							</div>
							<div class="back-group" v-if="listSubtract.length!=0" @click="achange('m')">
								<img src="img/man.png" class="logo" />
								<span class="grey">
									满减优惠
								</span>
								<span>
									-  ¥{{listSubtract[mindex].usTsSubtractPrice}}
								</span>
								<img src="img/arrright.png" class="arr" />
							</div>
							<div class="back-group" v-if="hdata.length!=0" @click="achange('h')">
								<img src="img/hong.png" class="logo" />
								<span class="grey">
									红包优惠
								</span>
								<span>
									-  ¥{{hdata[hindex].usTpPrice}}
								</span>
								<img src="img/arrright.png" class="arr" />
							</div>
						</div>
					</div>
					<div class="shop-back">
						<div class="back-inner">
							<div class="back-group">
								<span></span>
								<span>
									<strong>
											合计
									</strong>
									<span class="moneyred">
										¥{{allprice | foprice}}
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="pay-inner">
					<div class="payh">
						<textarea type="text" placeholder="请输入订单备注" v-model="note" style="font-size: .2rem;"></textarea>
					</div>
				</div>
				<div class="paybtn" style="display: flex;">
					<span @click="pay" style="flex: 1;text-align: center;">支付宝</span>
					<span @click="wpay" style="flex: 1;text-align: center;">微信</span>
				</div>
			</div>
			<!--新人-->
			<div class="myalert" v-if="aboo" @click="achange">
				<div class="main-top">
					{{atype | mytype}}
				</div>
				<div class="myalert-inner">
					<!--新人红包-->
					<div class="mytab" v-for='(val,index) in discountdata.listNewActivities' v-if="atype=='x'&&val.length!=0">
						￥<strong>{{val.usTnaPrice}}</strong>(新人立减，线上用户专享！)
						<div class="btn" @click.stop="changeindex('x',index)">立即使用</div>
					</div>
					<!--折扣-->
					<div class="mytab" v-for='(val,index) in discountdata.listDiscount' v-if="atype=='z'&&val.length!=0">
						<strong>{{val.usTdDicsont/10}}折</strong>(限时折扣，线上用户专享！)
						<div class="btn" @click.stop="changeindex('z',index)">立即使用</div>
					</div>
					<!--优惠红包-->
					<div class="mytab" v-for='(val,index) in hdata' v-if="atype=='h'&&val.length!=0">
						￥<strong>{{val.usTpPrice}}</strong>(满{{val.usTpLimitPrice}}可用，线上用户专享！)
						<div class="btn" @click.stop="changeindex('h',index)">立即使用</div>
					</div>
					<!--满减-->
					<div class="mytab" v-for='(val,index) in listSubtract' v-if="atype=='m'&&val.length!=0">
						￥<strong>{{val.usTsSubtractPrice}}</strong>(满{{val.usTsFullPrice}}可用，线上用户专享！)
						<div class="btn" @click.stop="changeindex('m',index)">立即使用</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '错误',
					mapboo: false,
					cartdata: JSON.parse(localStorage.getItem('cartdata')),
					adressdata: '',
					discountdata: '',
					listSubtract: [],
					allprice: '',
					note: '',
					channel: '',
					xindex: 0,
					mindex: 0,
					zindex: 0,
					hindex: 0,
					hdata: [],
					aboo: false,
					atype: '',
					allfee:0
				},
				methods: {
					achange: function(type) {
						this.atype = type
						this.aboo = !this.aboo
					},
					changeindex: function(type, index) {
						if(type == 'x') {
							this.xindex = index
						} else if(type == 'm') {
							this.mindex = index
						} else if(type == 'z') {
							this.zindex = index
						} else if(type == 'h') {
							this.hindex = index
						}
						this.aboo = false
						this.myprice()
					},
					wpay: function() {
						var that = this
						if(that.adressdata == '') {
							that.opennew('adresslist')
							return false;
						}

						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting();
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						if(localStorage.getItem('usIsFirst') == 1) {
							//							更改新人状态
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/updateUsUserFirst",
								dataType: 'json',
								data: {
									usUserId: localStorage.getItem('userid')
								},
								success: function(res) {
									localStorage.setItem('usIsFirst', 2)
								}
							});
						}
						//						创建订单
						var ajaxjson = {
							userId: localStorage.getItem('userid'),
							shoppingCartId: that.cartdata.usShoppingCartId,
							redPackageId: that.hdata.length != 0 ? that.hdata[that.hindex].usTraderPackageId : '',
							discontId: that.discountdata.listDiscount.length != 0 ? that.discountdata.listDiscount[that.zindex].usTraderDiscountId : '',
							fullReduceId: that.listSubtract.length != 0 ? that.listSubtract[that.mindex].usTraderSubtractId : '',
							newPeopleId: that.discountdata.listNewActivities.length!=0 ? that.discountdata.listNewActivities[that.xindex].usTraderNewActivitiesId : '',
							note: that.note,
							price: that.allprice,
//							price:0.01,
							statusPay: 2,
							redPackageStyle: that.hdata.length != 0 ? (that.hdata[that.hindex].usTpBelong == 1 ? '1' : '71') : '',
							discontStyle: that.discountdata.listDiscount.length == 0 ? '' : (that.discountdata.listDiscount[that.zindex].usTdBelong == 1 ? '2' : '72'),
							fullReduceStyle: that.listSubtract.length != 0 ? (that.listSubtract[that.mindex].usTsBelong == 1 ? '3' : '73') : '',
							newPeopleStyle: that.discountdata.listNewActivities .length != 0 ? (that.discountdata.listNewActivities[that.xindex].usTdBelong == 1 ? '4' : '74') : '',
							usOrPackingFee:that.allfee
						}
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/createAliPay",
							dataType: 'json',
							data: ajaxjson,
							success: function(res) {
								plus.payment.request(that.channel[1], res, function(result) {
									plus.nativeUI.closeWaiting()
									that.opennew('orderlist')
								}, function(error) {
									plus.nativeUI.closeWaiting()
									plus.nativeUI.toast('支付失败！')
									that.opennew('orderlist')
								});
							},
							error: function(err) {
								plus.nativeUI.closeWaiting()
								plus.nativeUI.toast('支付失败！')
								that.opennew('orderlist')
							}
						});
					},
					pay: function() {
						var that = this
						if(that.adressdata == '') {
							that.opennew('adresslist')
							return false;
						}

						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting();
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						if(localStorage.getItem('usIsFirst') == 1) {
							//							更改新人状态
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/updateUsUserFirst",
								dataType: 'json',
								data: {
									usUserId: localStorage.getItem('userid')
								},
								success: function(res) {
									localStorage.setItem('usIsFirst', 2)
								}
							});
						}
						//						创建订单
						var ajaxjson = {
							userId: localStorage.getItem('userid'),
							shoppingCartId: that.cartdata.usShoppingCartId,
							redPackageId: that.hdata.length != 0 ? that.hdata[that.hindex].usTraderPackageId : '',
							discontId: that.discountdata.listDiscount.length != 0 ? that.discountdata.listDiscount[that.zindex].usTraderDiscountId : '',
							fullReduceId: that.listSubtract.length != 0 ? that.listSubtract[that.mindex].usTraderSubtractId : '',
							newPeopleId: that.discountdata.listNewActivities.length!=0? that.discountdata.listNewActivities[that.xindex].usTraderNewActivitiesId : '',
							note: that.note,
							price:that.allprice,
//							price:0.01,
							 statusPay: 1,
							redPackageStyle: that.hdata.length != 0 ? (that.hdata[that.hindex].usTpBelong == 1 ? '1' : '71') : '',
							discontStyle: that.discountdata.listDiscount.length == 0 ? '' : (that.discountdata.listDiscount[that.zindex].usTdBelong == 1 ? '2' : '72'),
							fullReduceStyle: that.listSubtract.length != 0 ? (that.listSubtract[that.mindex].usTsBelong == 1 ? '3' : '73') : '',
							newPeopleStyle: that.discountdata.listNewActivities .length != 0 ? (that.discountdata.listNewActivities[that.xindex].usTdBelong == 1 ? '4' : '74') : '',
							usOrPackingFee:that.allfee
						}
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/createAliPay",
							dataType: 'json',
							data: ajaxjson,
							success: function(res) {
								plus.payment.request(that.channel[0], res.data[0], function(result) {
									plus.nativeUI.closeWaiting()
									that.opennew('orderlist')
								}, function(error) {
									console.log(JSON.stringify(error))
									plus.nativeUI.closeWaiting()
									plus.nativeUI.toast('支付失败！')
									that.opennew('orderlist')
								});
							},
							error: function(err) {
								plus.nativeUI.closeWaiting()
								plus.nativeUI.toast('支付失败！')
								that.opennew('orderlist')
							}
						});
					},
					opennew: function(target) {
						if(target == 'adresslist') {
							localStorage.setItem('addsta', 1)
						}
						mui.openWindow({
							url: '' + target + '.html',
							id: target,
							createNew: true
						})
					},
					layuiboo: function() {
						this.layui = !this.layui
					},
					mapshow: function() {
						if($('#orderinform').css('top') != '0px') {
							$('#container').height('50%')
							$('#orderinform').css('top', '0')
							this.mapboo = true
						} else {
							$('#container').height('4rem')
							$('#orderinform').css('top', '-2rem')
							this.mapboo = false
						}
					},
					haveadress: function() {
						var that = this
						$.ajax({
							type: "get",
							url: localStorage.getItem('myurl') + "/queryUsAddressAll",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('userid')
							},
							success: function(res) {
								if(res.data != null) {
									for(var i = 0; i < res.data.length; i++) {
										if(res.data[i].usAdsStatus == 1) {
											that.adressdata = res.data[i]
										}
									}
								} else {
									that.adressdata = []
								}

							}
						});
					},
					myajax: function() {
						var that = this
						that.haveadress()
						//						function plusReady() {
						// 弹出系统等待对话框
						//							plus.nativeUI.showWaiting()
						//						获取收货地址

						//						获取优惠信息
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/selectRedEnvelopes",
							dataType: 'json',
							data: {
								usTraderStoresId: that.cartdata.usTraderStoresId,
								usUserId: localStorage.getItem('userid'),
								stauts: localStorage.getItem('usIsFirst')
							},
							success: function(res) {
								that.discountdata = res.data
								//								满减筛选
								if(res.data.listSubtract != []) {
									for(var i = 0; i < that.discountdata.listSubtract.length; i++) {
										if(that.discountdata.listSubtract[i].usTsFullPrice != undefined) {
											if(that.discountdata.listSubtract[i].usTsFullPrice.length != 0) {
												if(that.discountdata.listSubtract[i].usTsFullPrice <= that.cartdata.usScPrice) {
													that.listSubtract.push(that.discountdata.listSubtract[i])
												}
											}
										}
									}
								}
								//								红包筛选
								if(res.data.listPackage != []) {
									for(var i = 0; i < res.data.listPackage.length; i++) {
										if(res.data.listPackage[i].usTpLimitPrice <= that.cartdata.usScPrice) {
											that.hdata.push(res.data.listPackage[i])
										}
									}
								}
								that.myprice()
							}
						});

						//						}
						//						if(window.plus) {
						//							plusReady();
						//						} else {
						//							document.addEventListener("plusready", plusReady, false);
						//						}

					},
					myprice: function() {
						var that = this
						for (var i in that.cartdata.usShoppingCartPojos) {
							that.allfee+=that.cartdata.usShoppingCartPojos[i].usTsPackingFee*that.cartdata.usShoppingCartPojos[i].usScdNum
						}
						var allprice = that.cartdata.usScPrice
						//新人满减
						if(that.discountdata.listNewActivities.length!=0) {
							allprice = allprice - that.discountdata.listNewActivities[that.xindex].usTnaPrice
						}
						//红包
						if(that.hdata.length != 0) {
							allprice = allprice - that.hdata[that.hindex].usTpPrice
						}
						//满减
						if(that.listSubtract.length != 0) {
							allprice = allprice - that.listSubtract[that.mindex].usTsSubtractPrice
						}
						//折扣优惠
						if(that.discountdata.listDiscount.length != 0) {
							allprice = allprice * (that.discountdata.listDiscount[that.zindex].usTdDicsont / 100)
						}
						if(allprice < 0) {
							allprice = 0
						}
						that.allprice = allprice + that.allfee + that.discountdata.listMaDistributionUsPackingFee.maDiPrice

						function plusReady() {
							plus.nativeUI.closeWaiting()
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener('plusready', plusReady, false);
						}

					}
				},
				mounted: function() {
					this.myajax()
					var that = this
					// 1. 获取支付通道
					function plusReady() {
						// 获取支付通道
						plus.payment.getChannels(function(channels) {
							that.channel = channels;
						}, function(e) {
							alert("获取支付通道失败：" + e.message);
						});
					}
					if(window.plus) {
						plusReady();
					} else {
						document.addEventListener('plusready', plusReady, false);
					}
					document.addEventListener("haveOrder", function() {
						that.haveadress()
					})
				},
				update: function() {

				},
				filters: {
					myimg: function(value) {
						return localStorage.getItem('myimg') + value.substring(value.indexOf('D:') + 1)
					},
					mytype: function(value) {
						switch(value) {
							case 'x':
								return '新人红包'
								break;
							case 'm':
								return '满减红包'
								break;
							case 'z':
								return '折扣红包'
								break;
							default:
								return '优惠红包'
								break;
						}
					},
					foprice: function(value) {
						if(value != '') {
							return value.toFixed(2)
						}

					}
				}
			})
		</script>
	</body>

</html>