<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	</head>

	<body>
		<div id="app" class="wrapper money">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">我的优惠</span>
				<span class="header-settings">
						
					</span>
			</header>
			<div class="main mui-scroll-wrapper main-big" v-if="">
				<div class="mui-scroll">
					<div class="money-item" v-for="(val,index) in mydata.MaRedEnvelopelist">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.maRePrice==undefined?val.usApPrice:val.maRePrice}}</span>
							</div>
							<div class="money-main">
								<h1>
									满减红包
								</h1>
								<p>
									{{val.maReLimitTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.maReLimit==undefined?val.usApPriceLimit:val.maReLimit}}可用,限最新版本客户端使用</span>
							<div class="join" @click="havecollect(8,val.maRedEnvelopeId)">
								立即领取
							</div>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata.UsTraderDiscountList">
						<div class="money-top">
							<div class="money-price">
								<span>{{val.usTdDicsont/10}}</span>折
							</div>
							<div class="money-main">
								<h1>
									折扣红包
								</h1>
								<p>
									{{val.usTdAbortTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>限最新版本客户端使用</span>
							<div class="join" @click="havecollect(2,val.usTraderDiscountId)">
								立即领取
							</div>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata.UsTraderNewActivitiesList">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.usTnaPrice}}</span>元
							</div>
							<div class="money-main">
								<h1>
									新人红包
								</h1>
								<p>
									{{val.usTnaAbortTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>限最新版本客户端使用</span>
							<div class="join" @click="havecollect(4,val.usTraderNewActivitiesId)">
								立即领取
							</div>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata.UsTraderPackageList">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.usTpPrice}}</span>元
							</div>
							<div class="money-main">
								<h1>
									满减红包
								</h1>
								<p>
									{{val.usTpAbortTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.usTpLimitPrice}}可用,每人限领{{val.usTpLimitNum}}张。</span>
							<div class="join" @click="havecollect(1,val.usTraderPackageId)">
								立即领取
							</div>
						</div>
					</div>
					<div class="money-item" v-for="(val,index) in mydata.UsTraderSubtractList">
						<div class="money-top">
							<div class="money-price">
								¥<span>{{val.usTsSubtractPrice}}</span>元
							</div>
							<div class="money-main">
								<h1>
									满减红包
								</h1>
								<p>
									{{val.usTsCreateTimeString}}到期
								</p>
							</div>
						</div>
						<div class="money-time">
							<span>满{{val.usTsFullPrice}}可用,限最新版本客户端使用</span>
							<div class="join" @click="havecollect(3,val.usTraderSubtractId)">
								立即领取
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '确定领取卡卷吗?',
					searchtype: localStorage.getItem('searchdpeata'),
					myurl: localStorage.getItem('myurl'),
					mydata: []
				},
				methods: {
					havecollect: function(type, id) {
						var that = this
						$.ajax({
							type: "post",
							url: that.myurl + "/collectionUserRedPackage ",
							async: true,
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('userid'),
								usPmStyle: type,
								usPackageId  : id
							},
							success: function(res) {
								console.log(JSON.stringify(res))
								if(res.status == 200) {
									that.layuiboo('领取成功！')
								} else {
									that.layuiboo(res.msg)
								}
							}
						});
					},
					layuitrue: function() {
						this.layuiboo()
					},
					layuiboo: function(text) {
						this.layuitext = text
						this.layui = !this.layui
					},
					opennew: function() {
						mui.openWindow({
							url: 'shop.html',
							id: 'shop'
						})
					},
					myajax: function() {
						var that = this
						$.ajax({
							type: "post",
							url: that.myurl + "/collectionUserRedMaRedEnvelope",
							async: true,
							dataType: 'json',
							success: function(res) {
								that.mydata=res.data
							}
						});
					}
				},
				mounted: function() {
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0006 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
					this.myajax()
				},
				update: function() {

				}
			})
		</script>
	</body>

</html>