<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="app" class="wrapper index">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header" v-show="sarchboo">
				<span class="header-back mui-action-back">
						<img src="img/back.png"/>
					</span>
				<span class="header-main">商家列表</span>
				<span class="header-settings">
							
					</span>
			</header>
			<div class="main main-big mui-content mui-scroll-wrapper" id="pullrefresh" @scroll="myscroll" style="overflow-y: scroll;">
				<img src="img/blank.png" class="blank" v-if="tuidata.length==0" />
				<div class="main-inner">
					<div class="index-group" @click="opendetail(val.usTraderStoresId)" v-for="val in tuidata" v-if="tuidata!=''">
						<div class="group-inner">
							<div class="img-box">
								<img :src="val.usTsFacadeImg | myimg" />
							</div>
							<div class="index-detail">
								<div class="index-h">
									{{val.usTsCompanyName}}
								</div>
								<div class="index-x" style="align-items: flex-start;">
									<div class="x-group" v-for="item in val.star_percentage">
										<img src="img/xactive.png" />
									</div>
									<div class="x-group" v-for="item in (5 - val.star_percentage)">
										<img src="img/xhalf.png" />
									</div>
								</div>
								<div class="index-x">
									<span class="shop-type">
									<img src="img/shopavatar.png"/>{{val.usTssResult}}
								</span>
								</div>
								<div class="index-money">
									<span>
									起送:¥{{val.usTsActionPrice}}| 配送费:¥{{val.maDiPrice}}
								</span>
									<span>
									月销量:
									<strong>{{val.xiaoliang==null?'0':val.xiaoliang}}</strong>
								</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		<script src="js/url.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					city: '徐州',
					sarchboo: true,
					searchdata: '',
					shoptype: true,
					layuitext: '您输入的内容为空!!',
					myurl: localStorage.getItem('myurl'),
					tuidata: [],
					maMsName: localStorage.getItem('maMsName'),
					pageNum: 0,
					ajaxmore: false,
					size: 0
				},
				methods: {
					myscroll: function() {
						var that = this
						if(Math.abs($('.main-inner').offset().top) + $('.main').height() + 200 >= $('.main-inner').height()) {
							if(that.ajaxmore == false) {
								that.myajax()
							}
						}
					},
					prefershow: function(index) {
						if($('.prefer').eq(index).attr('class') == 'prefer') {
							$('.prefer').eq(index).addClass('pauto')
						} else {
							$('.prefer').eq(index).removeClass('pauto')
						}
					},
					layuiboo: function() {
						this.layui = !this.layui
					},
					opennew: function(target) {
						mui.openWindow({
							url: '' + target + '.html',
							id: '' + target + ''
						})
					},
					opendetail: function(id) {
						localStorage.setItem('usTraderStoresId', id)
						this.opennew('shop')
					},
					myajax: function() {
						// function plusReady() {
						// 	// 弹出系统等待对话框
						// 	plus.nativeUI.showWaiting("加载中...");

							var that = this
							this.ajaxmore = true
							that.pageNum++
								// plus.geolocation.getCurrentPosition(function(p) {
									$.ajax({
										type: "post",
										url: that.myurl + "/queryUsTraderStoresRecommendPojoByMaMerchantsStyleId",
										dataType: 'json',
										data: {
											// lng: p.coords.longitude,
											// lat: p.coords.latitude,+9685/\=09gtz
											lng: '117.273565',
											lat: '34.269544',
											maMerchantsStyleId: localStorage.getItem('maMerchantsStyleId'),
											pageNum: that.pageNum,
											pageSize: 10
										},
										success: function(res) {
											that.size = res.data.pages
											that.ajaxmore = false
											for(var i = 0; i < res.data.list.length; i++) {
												that.tuidata.push(res.data.list[i])
											}
										},
										error: function(err) {
											console.log(err)
										}
									});
									plus.nativeUI.closeWaiting()
								// }, function(e) {
								// 	that.city = '获取失败'
								// });
						// }
						// if(window.plus) {
						// 	plusReady();
						// } else {
						// 	document.addEventListener("plusready", plusReady, false);
						// }
					}
				},
				mounted: function() {
					this.myajax()
				},
				updated() {

				},
				filters: {
					myimg: function(value) {
						return localStorage.getItem('myimg') + value.substring(value.indexOf('D:') + 1)
					}
				}
			})
		</script>
	</body>

</html>