<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	</head>
	<style type="text/css">
		body,
		html {
			overflow: hidden;
		}
		
		.fada-enter-active,
		.fada-leave-active {
			transition: .3s all;
		}
		
		.fada-enter-active {
			opacity: 1;
		}
		
		.fada-leave-active {
			opacity: 0;
		}
		
		.fada-enter,
		.fada-leave {
			opacity: 0;
		}
		
		.donghua-enter-active,
		.donghua-leave-active {
			transition: .3s all ease;
		}
		
		.donghua-enter-active {
			opacity: 1;
			transform: translateY(0);
		}
		
		.donghua-leave-active {
			opacity: 0;
			transform: translateY(-100%);
		}
		
		.donghua-enter,
		.donghua-leave {
			opacity: 0;
			transform: translateY(-100%);
		}
	</style>

	<body>
		<div id="app" class="wrapper shop">
			<transition name='donghua'>
				<div class="bottom-wrapper" v-show="!cartboo" @click="bottomtab">
					<div class="bottom-main">

						<div class="bottom-tab" v-for='(val,index) in cartdata' v-if="val.usTraderStoresId==mydata[0][0].usTraderStoresId">
							<div class="bottom-name">
								{{val.usTsName}}
							</div>
							<div class="bottom-price">
								¥{{val.usTsPrice}}
							</div>
							<div class="bottom-setting">
								<img src="img/reduce.png" @click.stop="reduce(val.usShoppingCartId,'0',index,val.usTsPrice)" v-show="val.usScNum!=1"/>
								<input type="number" :value="val.usScNum" id='a1' />
								<img src="img/add.png" @click.stop="reduce(val.usShoppingCartId,'1',index,val.usTsPrice)" />
							</div>
						</div>
						<div class="bottom-tab">
							<div style="flex: 1;padding-left: .1rem;">
								总计:
								<strong>{{allprice}}</strong>
							</div>
							<div class="bottom-setting" style="background: #FF6666;color: white;width: 2rem;justify-content: center;flex: inherit;padding: 0;" @click.stop="pay('pay','')">
								结算
							</div>
						</div>
					</div>
				</div>
			</transition>
			<div class="mycart" @click="bottomtab">
				<img src="img/mycart.png" v-show="mycartnum==0" />
				<img src="img/mycart-active.png" v-show="mycartnum!=0" />
				<div class="mycartindex" v-show="mycartnum!=0">
					{{mycartnum}}
				</div>
			</div>
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo()">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back mui-action-back">
						<img src="img/backwhite.png"/>
					</span>
				<span class="header-main">商家</span>
				<span class="header-settings"></span>
			</header>
			<transition name='fada'>
				<div class="main shopdetail" v-show="headerboo" @click="headershow">
					<img src="img/index.jpg" class="shopback" />
					<h2>
						{{mydata[0][0].usTsCompanyName}}
					</h2>
					<h4>
						红包
					</h4>
					<p>
						<span v-if="mydata[5].length==0&&mydata[4].length==0&&mydata[3].length==0&&mydata[2].length==0">对不起客官，本店暂无红包呢！</span>
						<span v-if="mydata[5].length!=0">线上专享{{mydata[5][0].usTpPrice}}元红包，满{{mydata[5][0].usTpLimitPrice}}可用！</span>
					</p>
					<h4>
						配送
					</h4>
					<p>
						配送时间10.00-21.00
					</p>
					<p>
						起送价:¥{{mydata[0][0].usTsActionPrice}},配送费 ¥{{mydata[6].maDiPrice}}
					</p>
					<h4>
						其他优惠
					</h4>
					<p v-if="mydata[4].length==0&&mydata[2].length==0&&mydata[5].length==0">
						对不起客官，本店暂无其他优惠呢！
					</p>
					<p v-if="mydata[4].length!=0">
						<img src="img/discount.png" /> 折扣商品{{mydata[4][0].usTdDicsont}}折起
					</p>
					<p v-if="mydata[2].length!=0">
						<img src="img/freight.png" /> 新人减{{mydata[2][0].usTnaPrice}}
					</p>
					<p v-if="mydata[5].length!=0">
						<img src="img/reduction.png" /> 线上专享{{mydata[5][0].usTpPrice}}元红包，满{{mydata[5][0].usTpLimitPrice}}可用！
					</p>
				</div>
			</transition>
			<div class="main" v-show="!headerboo">
				<div class="index-main">
					<div class="shop-header" @click="headershow">
						<img src="img/index.jpg" class="shopback" />
						<div class="img-box">
							<img src="img/index.jpg" />
						</div>
						<div class="shop-name">
							<h4>
								{{mydata[0][0].usTsCompanyName}}
							</h4>
							<p>
								优惠:
								<span v-if="mydata[5].length==0&&mydata[4].length==0&&mydata[3].length==0&&mydata[2].length==0">对不起客官，本店暂无优惠呢！</span>
								<span v-if="mydata[5].length!=0">线上专享{{mydata[5][0].usTpPrice}}元红包，满{{mydata[5][0].usTpLimitPrice}}可用！</span>
								<span v-if="mydata[4].length!=0">线上专享{{mydata[4][0].usTdDicsont}}折优惠，满{{mydata[4][0].usTdNum}}可用！</span>
								<span v-if="mydata[3].length!=0">线上专享满{{mydata[3][0].usTsFullPrice}}减{{mydata[3][0].usTsSubtractPrice}}</span>
								<span v-if="mydata[2].length!=0">新用户立减{{mydata[2][0].usTnaPrice}}</span>
							</p>
							<div class="activity">
								<div class="a-group" v-if="mydata[4].length!=0">
									<img src="img/discount.png" />
									<span>
										{{mydata[4][0].usTdDicsont}}折
									</span>
								</div>
								<div class="a-group" v-if="mydata[2].length!=0">
									<img src="img/freight.png" />
									<span>
										新人减{{mydata[2][0].usTnaPrice}}
									</span>
								</div>
								<div class="a-group" v-if="mydata[3].length!=0">
									<img src="img/reduction.png" />
									<span>
										满{{mydata[3][0].usTsFullPrice}}减{{mydata[3][0].usTsSubtractPrice}}
									</span>
								</div>
								<img src="img/rightwhite.png" style="height: .21rem;" v-if="mydata[5].length!=0&&mydata[3].length!=0&&mydata[2].length!=0" />
							</div>
						</div>
					</div>
					<div class="shop-main">
						<div class="shop-nav">
							<div class="navtab" @click="topnav(0)">
								<span :class="tabnum==0?'active':''">商品</span>
							</div>
							<div class="navtab" @click="topnav(1)">
								<span :class="tabnum==1?'active':''">评价</span>
							</div>
						</div>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="shop-content swiper-slide" v-if="tabnum==0">
									<!--左侧分类-->
									<div class="shop-left">
										<div class="left-tab" v-for="val in shopdata" @click="mytab(val.usTraderShoppingSortId)" :class="num==val.usTraderShoppingSortId?'active':''" v-if="shopdata!=null&&shopdata!=''">
											{{val.usTssResult}}
										</div>
									</div>
									<!--右侧详情-->
									<div class="shop-right">
										<div class="right-group">
											<div class="right-header" v-if="shopdetil!=''">
												{{shopdetil[0].usTssResult}}
											</div>
											<div class="right-main">
												<div class="rmain-group" v-for="(val,index) in shopdetil" @click="pay('goodsdetail',val.usTraderShoppingId)" v-if="index%2==0">
													<!--<img :src="val.usTsImgUrl" class="img" />-->
													<img src="img/index.jpg" class="img"/>
													<div class="shoptext">
														<h4>
															{{val.usTsName}}
														</h4>
														<p>
															{{val.usTsDetails}}
														</p>
														<p>
															月售:{{val.xiaoliang}}
														</p>
														<div class="right-setting">
															<span class="money" style="flex: 1;">
																¥{{val.usTsPrice}}
															</span>
															<span class="addcart addcollect" @click.stop="addcollect(val.usTraderShoppingId)" style="margin-right: .1rem;">
																<img src="img/collect.png"/>
															</span>
															<span class="addcart" @click.stop="addcart(val.usTraderShoppingId,val.usTsPrice)">
																<img src="img/cart.png"/>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="shop-content swiper-slide" style="flex-direction: column;" v-if="tabnum==1">
									<div class="rating-group" v-for="val in mydata[1]">
										<div class="img-box">
											<!--<img :src="val.usHeadImg" />-->
											<img src="img/index.jpg" class="avatar"/>
										</div>
										<div class="rating-main">
											<div class="rating-name">
												<span>{{val.usNickname}}</span>
												<span>{{val.crateTime1}}</span>
											</div>
											<div class="rating-text">
												{{val.usScContent}}
											</div>
											<div class="rating-img">
												<!--<img :src="val.usScImg1Url" v-if="val.usScImg1Url!=''&&val.usScImg1Url!=null" />
												<img :src="val.usScImg2Url" v-if="val.usScImg2Url!=''&&val.usScImg1Url!=null" />
												<img :src="val.usScImg3Url" v-if="val.usScImg3Url!=''&&val.usScImg1Url!=null" />
												<img :src="val.usScImg4Url" v-if="val.usScImg4Url!=''&&val.usScImg1Url!=null" />-->
												<img src="img/index.jpg"/>
												<img src="img/index02.png"/>
												<img src="img/index.jpg"/>
												<img src="img/index02.png"/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '错误',
					num: '',
					heightarr: [],
					tabnum: 0,
					headerboo: false,
					mycartnum: 0,
					cartboo: true,
					mySwiper: '',
					shopdata: '',
					mydata: '',
					myurl: localStorage.getItem('myurl'),
					shopdetil: '',
					cartdata: [],
					allprice: 0
				},
				methods: {
					addcollect: function(id) {
						var that = this
						$.ajax({
							type: "post",
							url: that.myurl + "/insertUsCollection",
							dataType: 'json',
							data: {
								usTraderShoppingId: id,
								usUserId: localStorage.getItem('userid')
							},
							success: function(res) {
								if(res.status == 200) {
									that.layuiboo('收藏成功')
								} else {
									that.layuiboo('收藏失败')
								}
							}
						});
					},
					addcart: function(id, price) {
						var that = this
						$('.mycart').addClass('cartanimate')
							setTimeout(function() {
								$('.mycart').removeClass('cartanimate')
							}, 500)
						$.ajax({
							type: "post",
							url: that.myurl + "/insertUsShoppingCart",
							dataType: 'json',
							data: {
								usTraderShoppingId: id,
								usUserId: localStorage.getItem('userid'),
								usScNum: 1,
								usScPrice: price
							},
							success: function(res) {
								if(res.status == 200) {
									that.havecart()
								} else {
									that.layuiboo('加入购物车失败')
								}
							}
						});
					},
					layuiboo: function(text) {
						this.layui = !this.layui
						this.layuitext = text
					},
					mytab: function(index) {
						//						获取分类下商品
						var that = this
						this.num = index
						$.ajax({
							type: "get",
							url: that.myurl + "/queryUsTraderShoppingSortByUsTraderIdDetails",
							dataType: 'json',
							data: {
								usTraderStoresId: localStorage.getItem('usTraderStoresId'),
								usTraderShoppingSortId: index
							},
							success: function(res) {
								if(res.data[0] != null) {
									that.shopdetil = res.data
									for(var i = 0; i < res.data.length; i = i + 2) {
										that.shopdetil[i].xiaoliang = that.shopdetil[i + 1]
									}
								} else {
									that.shopdetil = ''
								}

							}
						});
					},
					topnav: function(index) {
						this.tabnum = index
					},
					headershow: function() {
						this.headerboo = !this.headerboo
					},
					bottomtab: function() {
						if(this.mycartnum == 0) {
							this.layuiboo('您的购物车是空的')
						} else {
							this.cartboo = !this.cartboo
						}
					},
					reduce: function(id, type, index, price) {
						var that = this
						if(type == 0) {
							if(this.cartdata[index].usScNum!=0){
								this.cartdata[index].usScNum--
							}
						} else {
							this.cartdata[index].usScNum++
						}
						$.ajax({
							type: "post",
							url: that.myurl + "/updateUsShoppingCart",
							data: {
								usShoppingCartId: id,
								usScNum: that.cartdata[index].usScNum,
								usScPrice: price
							},
							dataType: 'json',
							success: function(res) {
								if(type == 0) {
									that.allprice = that.allprice - price
								} else {
									that.allprice = that.allprice + price
								}

							}
						});
					},
					pay: function(target, usTraderShoppingId) {
						localStorage.setItem('usTraderShoppingId', usTraderShoppingId)
						mui.openWindow({
							url: '' + target + '.html',
							id: target
						})
					},
					myajax: function() {
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting("加载中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						//						获取分类
						var that = this
						$.ajax({
							type: "get",
							url: that.myurl + "/queryUsTraderShoppingSortByUsTraderId",
							dataType: 'json',
							data: {
								usTraderId: localStorage.getItem('usTraderId')
							},
							success: function(res) {
								that.shopdata = res.data
								if(that.shopdata != null && that.shopdata != '') {
									that.num = res.data[0].usTraderShoppingSortId
									that.mytab(that.num)
								}

								function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
							}
						});
						//						获取店铺信息
						$.ajax({
							type: "get",
							url: that.myurl + "/queryUsTraderStoresRecommendPojoDetail",
							dataType: 'json',
							data: {
								usTraderStoresId: localStorage.getItem('usTraderStoresId')
							},
							success: function(res) {
								that.mydata = res.data
								that.havecart()
							},
							error: function(err) {
								console.log(err)
							}
						});
					},
					havecart: function() {
						var that=this
						//						获取购物车
						$.ajax({
							type: "get",
							url: that.myurl + "/queryByUsShoppingCartPojo",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('userid')
							},
							success: function(res) {
								that.cartdata = res.data
								that.mycartnum=0
								that.allprice=0
								for(var i = 0; i < res.data.length; i++) {
									that.allprice += res.data[i].usTsPrice * res.data[i].usScNum;
									if(res.data[i].usTraderStoresId == that.mydata[0][0].usTraderStoresId) {
										that.mycartnum++
									}
								}

								function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
							}
						});
					}
				},
				mounted: function() {
					var that = this
					var height = 0;
					this.myajax()
				},
				updated() {
					$('.rating-img img').css('height', $('.rating-img img').css('width'))
				}
			})
		</script>
	</body>

</html>