<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	</head>
	<style type="text/css">
		body,
		.mui-content {
			background: white;
		}
		.user .avatar{margin: .2rem auto .1rem;}
	</style>

	<body>
		<div id="app" class="wrapper user index">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back">
					
				</span>
				<span class="header-main">用户中心</span>
				<span class="header-settings" @click="opennew('news')">
					<img src="img/news.png"/>
				</span>
			</header>
			<div class="main mui-scroll-wrapper">
				<div class="index-main mui-scroll">
					<div class="head-top">
						<img :src="avatar | myimg" class="avatar" @click="opennew('userinfo')" v-if="avatar!='null'" />
						<img src="img/avatar.png" class="avatar" @click="opennew('userinfo')" v-if="avatar=='null'" />
						<h2 class="user-name" @click="opennew('userinfo')">{{usNickname}}</h2>
					</div>
					<div class="user-title">
						我的工具
					</div>
					<div class="user-group02">
						<div class="user-tab" @click="opennew('mycollect')">
							<img src="img/collect.png" />
							<span>
								收藏
							</span>
						</div>
						<div class="user-tab" @click="opennew('money')">
							<img src="img/hbao.png" />
							<span>
								我的红包
							</span>
						</div>
						<div class="user-tab" @click="opennew('myfoot')">
							<img src="img/user-foot.png" />
							<span>
								足迹
							</span>
						</div>
						<!--<div class="user-tab" @click="opennew('count')">
							<img src="img/card.png" />
							<span>
								折扣券
							</span>
						</div>-->
						<div class="user-tab">
							<img src="img/user-order.png" @click="opennew('orderlist')" />
							<span>
								我的订单
							</span>
						</div>
						<div class="user-tab">
							<a href="tel:1525156">
								<img src="img/service.png" />
							</a>
							<span>
								联系客服
							</span>
						</div>
						<div class="user-tab">
							<img src="img/adress.png" @click="opennew('adresslist')" />
							<span>
								收货地址
							</span>
						</div>
						<div class="user-tab">
							<img src="img/exit.png" @click="exit" />
							<span>
								退出登陆
							</span>
						</div>
					</div>
					<div class="user-title">
						今日推荐
					</div>
					<div class="index-group" @click="opendetail(val.usTraderStoresId,val.usTraderId)" v-for="val in tuidata02">
						<div class="group-inner">
							<div class="img-box">
								<img :src="val.usTsFacadeImg | myimg" />
								<!--<img src="img/index.jpg"/>-->
							</div>
							<div class="index-detail">
								<div class="index-h">
									{{val.usTsCompanyName}}
								</div>
								<div class="index-x" style="align-items: flex-start;">
									<div class="x-group" v-for="item in val.starPercentage">
										<img src="img/xactive.png" />
									</div>
									<div class="x-group" v-for="item in (5 - val.starPercentage)">
										<img src="img/xhalf.png" />
									</div>
								</div>
								<div class="index-x">
									<span class="shop-type">
									<img src="img/shopavatar.png"/>人气商家
								</span>
								</div>
								<div class="index-money">
									<span>
									起送:¥{{val.usTsActionPrice}} | 配送费:¥{{val.maDiPrice}}
								</span>
									<span>
									月销量:
									<strong>{{val.monthCount}}</strong>
								</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="footer-group">
					<img src="img/index.png" @click="opennew('index')" />
					<span>
						首页
					</span>
				</div>
				<div class="footer-group" @click="opennew('preferential')">
					<img src="img/found.png" />
					<span>
						同城惠
					</span>
				</div>
				<div class="footer-group">
					<img src="img/dvip.png" @click="opennew('vipcart')" />
					<span>
						会员中心
					</span>
				</div>
				<div class="footer-group">
					<img src="img/user-active.png" />
					<span>
						我的
					</span>
				</div>
			</footer>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '此功能正在加紧完善',
					weather: '天气获取中...',
					avatar: localStorage.getItem('usHeadImg'),
					usNickname: localStorage.getItem('usNickname'),
					tuidata02: []
				},
				methods: {
					exit: function() {
						localStorage.clear()
						this.opennew('login')
					},
					prefershow: function(index) {
						if($('.prefer').eq(index).attr('class') == 'prefer') {
							$('.prefer').eq(index).addClass('pauto')
						} else {
							$('.prefer').eq(index).removeClass('pauto')
						}
					},
					layuiboo: function() {
						this.layui = !this.layui
					},
					opennew: function(adr) {
						mui.openWindow({
							url: '' + adr + '.html',
							id: '' + adr + '',
							createNew: true
						})
					},
					opendetail: function(id,usTraderId) {
						var that=this
						localStorage.setItem('usTraderStoresId', id)
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/changeAdPrice",
							dataType: 'json',
							data:{
								storesId:id,
								title:'今日推荐'
							},
							success: function(res) {
								console.log(JSON.stringify(res))
								that.opennew('shop')
							},
							error:function(err){
								console.log(JSON.stringify(err))
							}
						});
					},
					myajax: function() {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/queryUsTraderStoresRecommendPojoY",
							dataType: 'json',
							data: {
								lng: localStorage.getItem('lng'),
								lat: localStorage.getItem('lat'),
								maApName: '今日推荐',
								usAddress: localStorage.getItem('city02')
							},
							success: function(res) {
								that.tuidata02 = res.data

							}
						});
					}
				},
				mounted: function() {
					var that = this
					function plusReady() {
						plus.key.addEventListener("backbutton", function() {
							that.opennew('index')
						})
					}
					if(window.plus) {
						plusReady();
					} else {
						document.addEventListener("plusready", plusReady, false);
					}
					this.myajax()
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0006 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
				},
				filters: {
					myimg: function(value) {
						if(value != null) {
							return localStorage.getItem('myimg') +'/' +value.substring(value.indexOf('D:') + 2)
						}
					}
				}
			})
		</script>
	</body>

</html>