<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../css/dizhi.css" />
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	</head>

	<body>
		<div id="app" class="wrapper adresslist">
			<header class="header">
				<span class="header-back" @click="back">
					<img src="../img/back.png" />
				</span>
				<span class="header-main">地址</span>
				<span class="header-settings" @click="submit()">
					确定
				</span>
			</header>
			<div class="main">
				<input type="text" class="search" v-model="dizhi" placeholder="点击搜索购买地址" id="pickerInput" />
				<input type="text" class="search" v-model="xiangxi" placeholder="填写楼号、楼层和门牌号，" />
				<input type="text" class="search" v-model="xingming" placeholder="请输入收货人姓名" />
				<input type="number" class="search" v-model="shoujihao" placeholder="请输入收货人手机号" />
				<div class="br"></div>
				<p>常用地址</p>
				<div class="dizhi-box" v-for="val in adressdata" @click="changyong(val.usAdsProvince,val.usAdsDetailed,val.usAdsPhone,val.usAdsName,val.usAddressId)">
					<div class="dizhi-title">
						{{val.usAdsDetailed}}
					</div>
					<div class="dizhi-text">
						{{val.usAdsProvince}}{{val.usAdsCity}}{{val.usAdsArea}}
					</div>
				</div>
			</div>
			<div id="container"></div>
		</div>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=3adc59b361b877d943cda0ce50b9b4da"></script>
		<script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					myurl: localStorage.getItem('myurl'),
					adressdata: '',
					dizhi: '',
					xiangxi: '',
					flng: '',
					flat: '',
					xingming: '',
					shoujihao: ''
				},
				methods: {
					changyong: function(dizhi, xiangxi, shouji, xingming,id) {
						var that=this
						AMap.service('AMap.Geocoder', function() { //回调函数
							//			实例化Geocoder
							var geocoder = new AMap.Geocoder({
								city: "" //城市，默认：“全国”
							});
							//						根据地址查经纬度
							geocoder.getLocation(dizhi, function(status, result) {
								if (status === 'complete' && result.info === 'OK') {
									localStorage.setItem('fid', id)
									localStorage.setItem('fdizhi', dizhi)
									localStorage.setItem('fdizhidetail', xiangxi)
									localStorage.setItem('fshoujihao', shouji)
									localStorage.setItem('fxingming', xingming)
									localStorage.setItem('flng', result.geocodes[0].location.lng)
									localStorage.setItem('flat', result.geocodes[0].location.lat)
									if(plus.webview.getWebviewById('pay')!=undefined){
										var pay=plus.webview.getWebviewById('pay')
										mui.fire(pay,'pay',{});
									}
									if(plus.webview.getWebviewById('payqu')!=undefined){
										var pay=plus.webview.getWebviewById('payqu')
										mui.fire(pay,'payqu',{});
									}
									if(plus.webview.getWebviewById('paysong')!=undefined){
										var pay=plus.webview.getWebviewById('paysong')
										mui.fire(pay,'paysong',{});
									}
									if(plus.webview.getWebviewById('instead/instead')!=undefined){
										var pay=plus.webview.getWebviewById('instead/instead')
										mui.fire(pay,'instead/instead',{});
									}
									mui.back()
								} else {
									//获取经纬度失败
								}
							});
						})
					},
					submit: function() {
						var that = this
						if (this.dizhi == '' || this.xiangxi == '') {
							mui.toast('地址填写不完整')
						} else {
							$.ajax({
								type: "post",
								url: that.myurl + "/addUserUsAddress",
								dataType: 'json',
								data: {
									usUserId: localStorage.getItem('userid'),
									usAdsProvince: that.dizhi,
									usAdsCity: '',
									usAdsArea: '',
									usAdsDetailed: that.xiangxi,
									usAdsPhone: that.shoujihao,
									usAdsName: that.xingming
								},
								success: function(res) {
									if (res.status == 200) {
										localStorage.setItem('fdizhi', that.dizhi)
										localStorage.setItem('fdizhidetail', that.xiangxi)
										localStorage.setItem('fshoujihao', that.shoujihao)
										localStorage.setItem('fxingming', that.xingming)
										localStorage.setItem('flng', that.flng)
										localStorage.setItem('flat', that.flat)
										localStorage.setItem('fid',res.data.usAddressId)
										if(plus.webview.getWebviewById('pay')!=undefined){
											var pay=plus.webview.getWebviewById('pay')
											mui.fire(pay,'pay',{});
										}
										if(plus.webview.getWebviewById('payqu')!=undefined){
											var pay=plus.webview.getWebviewById('payqu')
											mui.fire(pay,'payqu',{});
										}
										if(plus.webview.getWebviewById('paysong')!=undefined){
											var pay=plus.webview.getWebviewById('paysong')
											mui.fire(pay,'paysong',{});
										}
										if(plus.webview.getWebviewById('instead/instead')!=undefined){
											var pay=plus.webview.getWebviewById('instead/instead')
											mui.fire(pay,'instead/instead',{});
										}
										mui.back()
									}
								}
							});

						}
					},
					back: function() {
						mui.back()
					},
					opennew: function(id) {
						var that = this
						mui.openWindow({
							url: './' + id + '.html',
							id: id
						})
					},
					myajax: function() {
						var that = this
						// 查询我的地址
						$.ajax({
							type: "get",
							url: that.myurl + "/queryUsAddressAll",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('userid')
							},
							success: function(res) {
								that.adressdata = res.data
							}
						});
					}
				},
				mounted: function() {
					var that = this
					that.myajax()
					var map = new AMap.Map('container', {
						zoom: 15,
						center: [117.271887, 34.26921]
					});
					AMapUI.loadUI(['misc/PoiPicker'], function(PoiPicker) {
						var poiPicker = new PoiPicker({
							//city:'北京',
							input: 'pickerInput'
						});
						//初始化poiPicker
						poiPickerReady(poiPicker);
					});

					function poiPickerReady(poiPicker) {
						window.poiPicker = poiPicker;
						var marker = new AMap.Marker();
						var infoWindow = new AMap.InfoWindow({
							offset: new AMap.Pixel(0, 0)
						});
						//选取了某个POI
						poiPicker.on('poiPicked', function(poiResult) {
							that.flng = poiResult.item.location.lng
							that.flat = poiResult.item.location.lat
							var source = poiResult.source,
								poi = poiResult.item,
								info = {
									source: source,
									id: poi.id,
									name: poi.name,
									location: poi.location.toString(),
									address: poi.address
								};
							AMap.service('AMap.Geocoder', function() { //回调函数
								//实例化Geocoder
								geocoder = new AMap.Geocoder({
									city: "" //城市，默认：“全国”
								});
								geocoder.getAddress(poiResult.item.location, function(status, result) {
									if (status === 'complete' && result.info === 'OK') {
										that.dizhi = result.regeocode.formattedAddress
									} else {
										//获取地址失败
									}
								});
							})
						});
					}
				},
				update: function() {

				}
			})
		</script>
	</body>

</html>
