<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../css/instead.css" />
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=3adc59b361b877d943cda0ce50b9b4da"></script>
		<script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	</head>

	<body>
		<div id="app" class="wrapper instead">
			<div class="layui" v-show="layuiboo">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layui">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back">
					<img src="../img/my.png" @click="opennew02('../user')" />
				</span>
				<span class="header-main">邦•
					{{area}}
				</span>
				<span class="header-settings" @click="opennew('order')">
					<img src="../img/order.png" />
				</span>
			</header>
			<div class="main">
				<div class="top-nav">
					<div class="nav-tab" :class="insteadtype==1?'active':''" @click="tab(1)">
						跑腿代购
					</div>
					<div class="nav-tab" :class="insteadtype==2?'active':''" @click="tab(2)">
						急速取件
					</div>
					<div class="nav-tab" :class="insteadtype==3?'active':''" @click="tab(3)">
						急速送件
					</div>
				</div>
				<div class="instead-wrapper" id='container'>

				</div>
				<div class="xia-bottom">
					<div class="chongd-box" @click="setcenter">
						<img src="../img/inner.png">
					</div>
					<!-- 代购 -->
					<div class="xia01" v-show="insteadtype==1" @click="dchange">
						<div class="xia01-top">
							<div class="xia01-box" v-for="val in navdata">
								<img :src="val.maRtImg">
								<span>{{val.maRtName}}</span>
							</div>
						</div>
						<div class="xia01-bottom">
							<img src="../img/editor.png">
							<input type="text" placeholder="请填写商品名称和数量" readonly=""/>
						</div>
					</div>
					<!-- 取 -->
					<div class="xia01" v-show="insteadtype==2">
						<div class="xia01-bottom" @click="opennew('adresslist')">
							<div class="raio"></div>
							<input type="text" v-model="fdizhi" placeholder="请填写发货地址" readonly=""/>
							<img src="../img/arrright.png">
						</div>
						<div class="xia01-bottom" @click="opennew('fadresslist')">
							<div class="raio"></div>
							<input type="text" placeholder="请填写收货地址" v-model="sdizhi" readonly=""/>
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="goxia" v-show="insteadtype==2" @click="opennew('payqu')">
						立即下单
					</div>
					<!-- 送 -->
					<div class="xia01" v-show="insteadtype==3">
						<div class="xia01-bottom" @click="opennew('adresslist')">
							<div class="raio"></div>
							<input type="text" placeholder="请填写取货地址" v-model="fdizhi" readonly=""/>
							<img src="../img/arrright.png">
						</div>
						<div class="xia01-bottom" @click="opennew('fadresslist')">
							<div class="raio"></div>
							<input type="text" v-model="sdizhi" placeholder="请填写送货地址" readonly=""/>
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="goxia" v-show="insteadtype==3" @click="opennew('paysong')">
						立即下单
					</div>
					<!-- 代购弹出框 -->
					<div class="layui" v-if="dboo">
						<div class="down" @click="dchange">
							<img src="../img/arrbottom.png">
						</div>
						<div class="layui-box">
							<p>请选择您需要的物品：</p>
							<div class="xia01-top">
								<div class="xia01-box" @click="gdai(val.maRtName)" v-for="val in navdata">
									<img :src="val.maRtImg">
									<span>{{val.maRtName}}</span>
								</div>
							</div>
							<p>帮我买：</p>
							<textarea placeholder="请填写具体要求 " v-model="gneirong">

							</textarea>
							<div class="gotype">
								<div class="go-box">买</div>
								<div class="g-box" :class="mtype==0?'g-active':''" @click="changetype(0)">
									输入购买地址，购买更快
								</div>
								<div class="g-box" :class="mtype==1?'g-active':''" @click="changetype(1)">
									三公里内购买
								</div>
							</div>
							<div class="lm-box" v-if="mtype==0">
								<input type="text" placeholder="请选择购买地址" v-model="fdizhi" readonly=""/>
								<img src="../img/arrright.png">
							</div>
							<div class="submit" @click="gopay">
								下一步
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="footer-group">
					<img src="../img/index.png" @click="opennew02('../index')" />
					<span>
						首页
					</span>
				</div>
				<div class="footer-group" @click="opennew02('../preferential')">
					<img src="../img/found.png" />
					<span>
						同城惠
					</span>
				</div>
				<div class="footer-group factive">
					<img src="../img/zixingche-active.png" />
					<span>
						跑腿代购
					</span>
				</div>
				<div class="footer-group">
					<img src="../img/dvip.png" @click="opennew02('../vipcart')" />
					<span>
						会员中心
					</span>
				</div>
			</footer>
		</div>
		<script src="../js/dingwei.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					insteadtype: 1, //服务种类
					layuiboo: false,
					layuitext: '',
					area: shi, //所在地
					mtype: 0, //0指定地址购买,1三公里内随机购买
					dboo: false, //购买弹出框
					gneirong: '',
					daikuaijie: '随意购',
					fdizhi: localStorage.getItem('fdizhi'),
					sdizhi: localStorage.getItem('sdizhi'),
					navdata:[],
					map:''
				},
				methods: {
					gopay: function() {
						if (this.gneirong == '') {
							mui.toast('购买内容不能为空!')
							return false
						}
						localStorage.setItem('paytext', this.gneirong) //代购内容
						localStorage.setItem('paytype', this.insteadtype) //服务种类
						localStorage.setItem('dtype', this.mtype) //代购范围
						this.opennew('pay')
					},
					changetype: function(index) {
						this.mtype = index
					},
					gdai: function(index) {
						// 快捷代购按钮
						this.daikuaijie = index
						if (this.daikuaijie != '随意购') {
							this.gneirong = index
						} else {
							this.gneirong = ''
						}
					},
					dchange: function() {
						// 显示弹出框
						this.dboo = !this.dboo
					},
					tab: function(index) {
						// 修改服务种类
						this.insteadtype = index
					},
					layui: function() {
						// 提示框
						this.layuiboo = !this.layuiboo
					},
					opennew: function(id) {
						// 打开新页面
						mui.openWindow({
							url: '../instead/' + id + '.html',
							id: id
						})
					},
					opennew02: function(id) {
						// 打开新页面
						mui.openWindow({
							url: './' + id + '.html',
							id: id
						})
					},
					myajax:function(){
						var that=this
						// 查询分类
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + '/selectMaRunTypeUser',
							dataType: 'json',
							success: function(res) {
								that.navdata=res.data
							},
							error: function(err) {
								
							}
						});
					},
					setcenter:function(){
						this.map.setCenter([jing, wei])
					}
				},
				mounted: function() {
					this.map = new AMap.Map('container', {
						zoom: 15,
						center: [jing, wei]
					});
					var marker = new AMap.Marker({
						title: '提示'
					});
					marker.setMap(this.map);
					this.myajax()
				},
				update: function() {

				}
			})
		</script>
	</body>

</html>
