<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=I3GAIGZ5MwMnqKQdAWAKw2EqujewYBYU"></script>
	</head>
	<style type="text/css">
		.main {
			height: 100%;
		}
		
		.header {
			overflow: initial;
			background: none;
			z-index: 9;
		}
		
		#container {
			height: 100%;
			width: 100%;
		}
	</style>

	<body>
		<div id="app" class="wrapper instead map">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuiboo">
							确定
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back mui-action-back">
						<img src="../img/back.png"/>
					</span>
				<span class="header-main">
					<input type="text" id="suggestId" class="box-size" placeholder="输入需要搜索的地址"/>
				</span>
				<span class="header-settings">
					
				</span>
			</header>
			<div class="main" id="l-map" style="margin: 0;">
				<div id="container"></div>
				<div class="pickerInput">
					<input type="text" class="box-size" placeholder="搜索地址" readonly="" v-model="adress" />
					<input type="text" class="box-size" placeholder="请输入详细地址" v-model="detail" />
					<div>
						<input type="text" class="box-size" placeholder="请输入姓名" v-model="name" />
						<input type="number" class="box-size" placeholder="请输入手机号" v-model="phone" />
					</div>
				</div>
				<div class="mysub" @click="opennew">
					确定
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '信息未填写完整',
					adress: '',
					detail: '',
					name: '',
					phone: ''
				},
				methods: {
					layuiboo: function() {
						this.layui = !this.layui
					},
					opennew: function() {
						if(this.adress == '' || this.detail == '' || this.name == '' || this.phone == '') {
							this.layuitext = '信息未填写完整'
							this.layuiboo()
						} else {
							if((/^1[3|4|5|8|7][0-9]\d{4,8}$/.test(this.phone))) {
								localStorage.setItem(localStorage.getItem('maptype') + 'adress', this.adress)
								localStorage.setItem(localStorage.getItem('maptype') + 'detail', this.detail)
								localStorage.setItem(localStorage.getItem('maptype') + 'name', this.name)
								localStorage.setItem(localStorage.getItem('maptype') + 'phone', this.phone)
								mui.openWindow({
									url: 'instead.html',
									id: 'instead'
								})
							} else {
								this.layuitext = '手机号格式错误'
								this.layuiboo()
							}
						}
					}
				},
				mounted: function() {
					var that = this
					document.addEventListener('plusready', onPlusReady, false);
					function onPlusReady() {
						plus.geolocation.getCurrentPosition(function(p) {
							var map = new BMap.Map("container");
								//		设置中心点坐标
								var point = new BMap.Point(p.coords.longitude,p.coords.latitude);
								map.centerAndZoom(point, 18);
								var marker = new BMap.Marker(point); // 创建标注    
								map.addOverlay(marker);
								give(p.coords.longitude,p.coords.latitude)

							var ac = new BMap.Autocomplete( //建立一个自动完成的对象
								{
									"input": "suggestId"
								});
							var myValue;
							ac.addEventListener("onconfirm", function(e) { //鼠标点击下拉列表后的事件
								var _value = e.item.value;
								myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
								setPlace();
							});
			
							function give(lng, lat) {
								var myGeo = new BMap.Geocoder();
								// 根据坐标得到地址描述    
								myGeo.getLocation(new BMap.Point(lng, lat), function(result) {
									if(result) {
										that.adress = result.address
									}
								});
							}

							function setPlace() {
								map.clearOverlays();
								function myFun() {
									var pp = local.getResults().getPoi(0).point;
									map.centerAndZoom(pp, 18);
									map.addOverlay(new BMap.Marker(pp));
									give(pp.lng, pp.lat)
								}
								var local = new BMap.LocalSearch(map, {
									onSearchComplete: myFun
								});
								local.search(myValue);
							}
						}, function(e) {
							alert('Geolocation error: ' + e.message);
						}, {
							provider: 'baidu',
							coordsType:'bd09ll'
						});
					}
				},
				update: function() {
					mui.init()
				}
			})
		</script>
	</body>

</html>