<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
	</head>

	<body>
		<div id="app" class="wrapper myorder">
			<div class="layui" v-show="layui">
				<div class="layui-inner">
					<div class="layui-top">
						友情提示
					</div>
					<div class="layui-main">
						{{layuitext}}
					</div>
					<div class="layui-settings">
						<div class="layui-setting" @click="layuitrue">
							确定
						</div>
						<div class="layui-setting" @click="layuiboo">
							取消
						</div>
					</div>
				</div>
			</div>
			<header class="header">
				<span class="header-back mui-action-back">
						<img src="../img/back.png"/>
					</span>
				<span class="header-main">我的订单</span>
				<span class="header-settings"></span>
			</header>
			<div class="main orderlist" style="height: calc(100% - .8rem);background: #FFFFFF;">
				<div class="order-top">
					<div class="order-box" @click="opennew('../orderlist')">
						外卖订单
					</div>
					<div class="order-box order-active">
						跑腿订单
					</div>
				</div>
				<div class="nav">
					<div class="nav-tab" :class="tabnum==6?'active':''" @click="tab(6)">
						全部
					</div>
					<div class="nav-tab" :class="tabnum==0?'active':''" @click="tab(0)">
						待支付
					</div>
					<div class="nav-tab" :class="tabnum==1?'active':''" @click="tab(1)">
						已完成
					</div>
					<div class="nav-tab" :class="tabnum==2?'active':''" @click="tab(2)">
						待接单
					</div>
					<div class="nav-tab" :class="tabnum==3?'active':''" @click="tab(3)">
						已接单
					</div>
					<div class="nav-tab" :class="tabnum==4?'active':''" @click="tab(4)">
						已取货
					</div>
				</div>
				<div class="list-group" @click="opennew('orderdetail',val.usReplaceTakeId)" v-for="val in mydata">
					<div class="list-top">
						<div class="list-title">
							{{val.usRtIsType | usRtIsType}}
						</div>
						<div class="list-state">
							{{val.usRtCreateTime1}}
						</div>
					</div>
					<div class="adress-group">
						<span class="fhuo">
							发
						</span>
						<div class="adress-text">
							{{val.usRtIsAddress==0?'收货地点附近3km范围内购买':val.usRtDetails}}
						</div>
						<div class="list-state" v-if="val.usRtIsPay==1">
							{{val.usRtStatus | state}}
						</div>
						<div class="list-state" v-if="val.usRtIsPay==0">
							待支付
						</div>
					</div>
					<div class="adress-group">
						<span class="fhuo">
							收
						</span>
						<div class="adress-text">
							{{val.usAdsProvince}}{{val.usAdsCity}}{{val.usAdsArea}}{{val.usAdsDetailed}}
						</div>
					</div>
					<div class="list-top list-bottom">
						<div class="list-data">
							
						</div>
						<div class="list-setting" @click.stop="godelete(val.usReplaceTakeId)">
							删除订单
						</div>
						<div class="list-setting" v-if="val.state==1" @click="opennew('instead')">
							再来一单
						</div>
						<div class="list-setting" @click.stop="layuiboo('确认取消订单吗？',val.usReplaceTakeId)" v-if="val.state==2">
							取消订单
						</div>
						<div class="list-setting" v-if="val.state==1">
							评价订单
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '#app',
				data: {
					layui: false,
					layuitext: '错误',
					mydata:[],
					usReplaceTakeId:'',
					tabnum:6
				},
				methods: {
					godelete:function(id){
						var that=this
						// 删除跑腿订单
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/updateReplaceDeeletId",
							dataType: 'json',
							data: {
								usReplaceTakeId: id
							},
							success: function(res) {
								console.log(": " + JSON.stringify({
								usReplaceTakeId: id
							}));
								console.log("res: " + JSON.stringify(res));
								that.myajax()
								plus.nativeUI.toast('删除成功')
							}
						});
					},
					tab: function(index) {
						this.tabnum = index
						this.myajax()
					},
					layuitrue:function(){
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting('订单取消中')
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/addReplaceOrder",
							dataType: 'json',
							data: {
								usReplaceTakeId: that.usReplaceTakeId
							},
							success: function(res) {
								console.log(res)
								that.myajax()
								function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
							}
						});
					},
					layuiboo: function(text,id) {
						this.layuitext = text
						this.usReplaceTakeId=id
						this.layui = !this.layui
					},
					opennew: function(id, index) {
						localStorage.setItem('usReplaceTakeId', index)
						mui.openWindow({
							url: '' + id + '.html',
							id: id
						})
					},
					myajax:function(){
						function plusReady() {
							// 弹出系统等待对话框
							plus.nativeUI.showWaiting('加载中')
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						var that = this
						$.ajax({
							type: "get",
							url: localStorage.getItem('myurl') + "/queryUsReplaceTakePojo",
							dataType: 'json',
							data: {
								usUserId: localStorage.getItem('userid'),
								status :that.tabnum
							},
							success: function(res) {
								console.log(res)
								that.mydata = res.data
							}
						});
						function plusReady() {
									// 弹出系统等待对话框
									plus.nativeUI.closeWaiting()
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
					}
				},
				mounted: function() {
					this.myajax()
				},
				filters:{
					usRtIsType:function(value){
						if (value==1) {
							return '帮我买'
						} else if(value==2){
							return '帮我取'
						}else if(value==3){
							return '帮我送'
						}
					},
					state:function(value){
						if (value==1) {
							return '订单已完成'
						} else if(value==2){
							return '等待接单'
						}else if(value==3){
							return '等待取件'
						}else{
							return '等待配送'
						}
					}
				}
			})
		</script>
	</body>

</html>