<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/pay.css" />
		<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=3adc59b361b877d943cda0ce50b9b4da"></script>
		<script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="main">
				<div id="map-container"></div>
				<div class="header">
					<div class="header-aside mui-action-back">
						<img src="../img/Group 26.png">
					</div>
					<div class="header-text" @click="opennew('notice')">使用须知</div>
				</div>
				<img src="../img/shuaxin.png" class="shua" >
				<div class="main-two bian">
					<div class="text">帮我购买:</div>
					<input type="tetx" v-model="beizhu" />
					<img src="../img/bianji.png">
				</div>
				<div class="main-two">
					<div class="onx-he">
						<div class="one-left" style="margin-right: .3rem;">购</div>
						<div class="one" :class="dtype==0?'one-active':''" @click="changetype(0)">
							输入购买地址,购买更快
						</div>
						<div class="one" :class="dtype==1?'one-active':''" @click="changetype(1)">
							就近购买
						</div>
					</div>
					<div class="one-box" @click="opennew02('adresslist')" v-if="dtype==0">
						<div class="one-right" style="margin-left: .7rem;">
							<div class="right-left">
								<div class="one-text">{{fdizhi}}</div>
								<div class="one-news">{{fdizhidetail}}</div>
							</div>
						</div>
						<div class="right-right">
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="one-box" @click="opennew02('fadresslist')">
						<div class="one-left one-zi">收</div>
						<div class="one-right">
							<div class="right-left">
								<div class="one-text">{{sdizhi}}</div>
								<div class="one-news">{{sdizhidetail}}</div>
							</div>
							<div class="right-right">
								<div class="one-text">{{sshoujihao}}</div>
								<img src="../img/arrright.png">
							</div>
						</div>
					</div>
					<!-- <img src="../../static/fen.png" class="fufu"> -->
				</div>
				<div class="main-two">

					<div class="two-one">
						<div class="two-left" @click="datechange">
							<div class="two-text">购买时间:</div>
							<input class="two-text" name="appDateTime" id="appDateTime"  value="立即购买" readonly="readonly"/>
						</div>
						<div class="two-right">
							<img src="../img/arrright.png">
						</div>
					</div>
					<!-- 					<div class="two-one">
						<a class="two-left" href="#jprice">
							<div class="two-text">物品类型:</div>
							<div class="two-text wutype" v-if="navdata.length!=0">{{navdata[wuindex].maRtName}}</div>
							<div id="datePlugin"></div>
						</a>
						<div class="two-right">
							<img src="../img/arrright.png">
						</div>
					</div> -->
					<div class="two-one" @click="youchange">
						<div class="two-left">
							<div class="two-text liang">优惠</div>
							<div class="two-word two-zi">{{youdata.length==0?'暂无可用优惠券':youdata[youindex].maRdrDiscount/10+'折优惠券'}}</div>
						</div>
						<div class="two-right">
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="two-one">
						<div class="two-left">
							<div class="two-text liang">小费</div>
							<input type='number' class="two-word two-zi" placeholder="给师傅一个鼓励吧" v-model="xiaofei" @input="myajax" />
							元
						</div>
					</div>
					<div class="two-one">
						<div class="two-left">
							<div class="two-text">商品价格:</div>
							<input class="two-word two-zi" placeholder="预付或凭骑手小票线下支付" v-model="gujia" @input="myajax" />
							元
						</div>
					</div>
					<div class="two-two">
						<div class="two-text liang">服务</div>
						<div class="t-text" v-for="(val,index) in serdata" :class="val.boo==true?'t-active':''" @click="changeser(index)">{{val.maMsrDay}}
							- ￥{{val.maMsrPrice}}</div>
					</div>
				</div>
				<div class="main-three">温馨提示:根据相关法律法规要求，骑手在取货时对您所寄物品进行检查，请不要将物品外包装封口。谢谢您的配合。</div>
			</div>
			<div class="bottom">
				<div class="bottom-left">¥{{searchdata.usRtPrice}}</div>
				<div class="bottom-content" @click="openming()">
					<div class="bottom-text">费用明细</div>
					<img src="../img/arrright.png">
				</div>
				<div class="bottom-right" @click="xiadan">下单</div>
			</div>
			<div id="jprice" class="mui-popover mui-popover-action">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell myindex" v-for="(val,index) in navdata" @click="changenav(index)">
						<a href="#" data-id='0'>{{val.maRtName}}</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#zprice" data-id='-1'><b>取消</b></a>
					</li>
				</ul>
			</div>
			<div class="you" v-if="youboo" @click="youchange">
				<div class="you-title">
					我的优惠券
				</div>
				<div class="you-box">
					<div class="you-tab" v-for="(val,index) in youdata" @click="changeyou(index)">
						<div class="you-left">
							<div class="price">
								{{val.maRdrDiscount/10}}折
							</div>
							<div class="you-text">
								{{val.maRdrCreateTimeString}}
							</div>
						</div>
						<div class="you-right">
							使用
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/load.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: '.wrapper',
			data: {
				paytext: '', //取货内容
				fdizhi: localStorage.getItem('fdizhi'), //发货地址
				fdizhidetail: localStorage.getItem('fdizhidetail'), //发货地址详情
				fshoujihao: localStorage.getItem('fshoujihao'),
				sdizhi: localStorage.getItem('sdizhi'), //收货地址
				sdizhidetail: localStorage.getItem('sdizhidetail'), //收货地址详情
				sshoujihao: localStorage.getItem('sshoujihao'),
				youboo: false, //优惠boo
				youdata: [], //优惠券data
				youindex: 0,
				xiaofei: '', //小费
				beizhu: localStorage.getItem('paytext'), //备注
				gujia: '', //代收金额
				searchdata: '', //价格data
				serdata: [], //所有服务data
				wuindex: 0, //分类索引
				navdata: [], //分类数组
				channel: [],
				dtype: localStorage.getItem('dtype'), //代购范围 0 指定 1就近
				infoWindow:''
			},
			methods: {
				datechange:function () {
					var date = new Date();
					var picker = new mui.PopPicker({
						layer: 3
					});
					var datejson = []
					//						插入后七天日期
					for(var i = 1; i < 3; i++) {
						var text=''
						if(i==1){
							text=date.getDate() + i+'号(明天)'
						}else{
							text=date.getDate() + i+'号(后天)'
						}
						datejson.push({
							value: date.getDate() + i,
							text: text,
							children: []
						})
						for(var l = 1; l < 25; l++) {
							datejson[i - 1].children.push({
								value: l,
								text: l + "点",
								children: []
							})
							for(var j = 1; j < 60; j++) {
								datejson[i - 1].children[l - 1].children.push({
									value: j,
									text: j + '分'
								})
							}
						}
					}
					//					插入当前日期
					datejson.unshift({
						value: date.getDate(),
						text: date.getDate() + '号',
						children: []
					})
					//					插入当前小时
					for(var l = date.getHours(); l < 25; l++) {
						datejson[0].children.push({
							value: l,
							text: l + "点",
							children: []
						})
					}
					//					插入当前分钟
					for(var l = date.getMinutes(); l < 60; l++) {
						datejson[0].children[0].children.push({
							value: l,
							text: l + '分'
						})
					}
					for(var i = 1; i < datejson[0].children.length; i++) {
						for(var l = 1; l < 60; l++) {
							datejson[0].children[i].children.push({
								value: l,
								text: l + '分'
							})
						}
					}
					picker.setData(datejson)
					picker.pickers[0].setSelectedIndex(0);
					picker.pickers[1].setSelectedIndex(0);
					picker.show(function(selectItems) {
						var month = '';
						mydate = '';
						hours = '';
						time = '';
						if(month < 10) {
							month = '0' + (date.getMonth() + 1)
						}
						if(selectItems[0].value < 10) {
							mydate = '0' + selectItems[0].value
						} else {
							mydate = selectItems[0].value
						}
						if(selectItems[1].value < 10) {
							hours = '0' + selectItems[1].value
						} else {
							hours = selectItems[1].value
						}
						if(selectItems[2].value < 10) {
							time = '0' + selectItems[2].value
						} else {
							time = selectItems[2].value
						}
						var time=date.getFullYear() + '-' + month + '-' + mydate + ' ' + hours + ':' + time
						$('#appDateTime').val(time)
					})
				},
				changetype: function(type) {
					this.dtype = type
				},
				changeyou: function(index) {
					// 选择优惠
					this.youindex = index
					this.myajax()
				},
				changenav: function(index) {
					// 选择分类
					this.wuindex = index
					$('.mui-popover').hide()
					$('.mui-backdrop').hide()
					this.myajax()
				},
				changeser: function(index) {
					// 选择服务
					this.serdata[index].boo = !this.serdata[index].boo
					this.myajax()
				},
				// 费用明细
				openming: function() {
					localStorage.setItem('juli',this.searchdata.usRtWarm)
					localStorage.setItem('shijian',this.searchdata.usRtUpdateName)
					localStorage.setItem('mingxi', this.searchdata.maRtPriceRecord)
					this.opennew('mingxi')
				},
				searchser: function() {
					var that = this
					// 查询服务
					$.ajax({
						type: "post",
						url: localStorage.getItem('myurl') + '/selectMaServiceRuleAll',
						dataType: 'json',
						success: function(res) {
							for (i in res.data) {
								res.data[i].boo = false
							}
							that.serdata = res.data
							// 查询优惠券
							$.ajax({
								type: "post",
								url: localStorage.getItem('myimg') + '/maAllocationRecord/getMaAllocationRecordList',
								dataType: 'json',
								data: {
									usUserId: localStorage.getItem('userid'),
								},
								success: function(res) {
									console.log("res: " + JSON.stringify(res));
									that.youdata = res.data
									that.myajax()
								},
								error: function(err) {

								}
							});
						},
						error: function(err) {

						}
					});

				},
				myajax: function() {
					var that = this,
						maServiceRuleId = []
					startload()
					// 查询价格
					for (i in that.serdata) {
						if (that.serdata[i].boo == true) {
							maServiceRuleId.push(that.serdata[i].maServiceRuleId)
						}
					}
					$.ajax({
						type: "post",
						url: localStorage.getItem('myurl') + '/userWalletTakeSubstitutionDeliverySelect',
						dataType: 'json',
						data: {
							usRtIsType: 1,
							usUserId: localStorage.getItem('userid'),
							usRtCreateName: localStorage.getItem('userid'),
							usRtDescribe: that.paytext, //物品描述
							usRtIsArrive: $('#appDateTime').val() == '立即购买' ? '0' : '1',
							usRtArriveTime: new Date($('#appDateTime').val() == '立即购买' ? new Date().Format("yyyy-MM-dd HH:mm:ss") : $('#appDateTime').val() + ':00'),
							time: '',
							usRtProvince: localStorage.getItem('fdizhi'),
							usRtCity: '',
							usRtArea: '',
							usRtDetails: localStorage.getItem('fdizhidetail'), //发货地址详情
							usAddressContactId: localStorage.getItem('fid'), //发货地址id
							usAddressId: localStorage.getItem('sid'), //收货地址id
							usRtForecastPrice: that.gujia == '' ? 0.00 : that.gujia, //代收款
							usRtRemarks: that.beizhu, //备注
							maServiceRuleId: JSON.stringify(maServiceRuleId), //服务id
							UsRtIsAddress: that.dtype == 0 ? 1 : 0, //是否指定地址 0 不 1是
							usUpPrice: that.xiaofei == '' ? 0.00 : that.xiaofei, //加价
							usRunType: localStorage.getItem('maRunTypeId'), //分类id
							maRunDiscountRuleId: that.youdata.length == 0 ? '' : that.youdata[that.youindex].maRunDiscountRuleId //优惠券id
						},
						success: function(res) {
							stopload()
							if (res.status == 200) {
								delete res.data.usRtCreateTime
								delete res.data.usRtdCreateTime
								delete res.data.usRtdItemSendTime
								delete res.data.usRtUpdateTime
								delete res.data.usRtCreateTimeString
								delete res.data.usRtTrueTime
								delete res.data.usRtClaimTime
								var content = [
									"<div>订单距离"+res.data.usRtWarm+"KM，预计"+res.data.usRtUpdateName+"前送达</div>"
								];
								that.infoWindow.setContent(content.join("<br>"))
								res.data.usRtArriveTime = new Date(res.data.usRtArriveTime)
								that.searchdata = res.data
							} else {
								that.searchdata.usRtPrice = 0
							}

						},
						error: function(err) {
							stopload()
						}
					});
				},
				xiadan: function() {
					localStorage.setItem('searchdata',JSON.stringify(this.searchdata))
					this.opennew('paynext02')
				},
				youchange: function() {
					this.youboo = !this.youboo
				},
				dchange: function(index) {
					this.dtype = index
				},
				opennew: function(id) {
					// 打开新页面
					mui.openWindow({
						url: './' + id + '.html',
						id: id
					})
				},
				opennew02: function(id) {
					// 打开新页面
					localStorage.setItem('ordert', 0)
					mui.openWindow({
						url: './' + id + '.html',
						id: id,
						createNew: true
					})
				}
			},
			mounted: function() {
				var that = this
				// 1. 获取支付通道
				function plusReady() {
					// 获取支付通道
					if (localStorage.getItem('sid') == undefined||localStorage.getItem('sid')==null) {
						mui.toast('请选择收货地址')
						localStorage.setItem('ordert',0)
						that.opennew('fadresslist')
					}
					plus.payment.getChannels(function(channels) {
						that.channel = channels;
					}, function(e) {
						alert("获取支付通道失败：" + e.message);
					});
				}
				if (window.plus) {
					plusReady();
				} else {
					document.addEventListener('plusready', plusReady, false);
				}
				$('body').on('click', '#dateconfirm', function() {
					that.myajax()
				})
				window.addEventListener("pay", function() {
					that.fdizhi = localStorage.getItem('fdizhi') //发货地址
					that.fdizhidetail = localStorage.getItem('fdizhidetail') //发货地址详情
					that.fshoujihao = localStorage.getItem('fshoujihao')
					that.sdizhi = localStorage.getItem('sdizhi') //收货地址
					that.sdizhidetail = localStorage.getItem('sdizhidetail') //收货地址详情
					that.sshoujihao = localStorage.getItem('sshoujihao')
					that.myajax()
					chushihua()
					// location.reload()
				})
				Date.prototype.Format = function(fmt) {
					var o = {
						"M+": this.getMonth() + 1, //月份 
						"d+": this.getDate(), //日 
						"H+": this.getHours(), //小时 
						"m+": this.getMinutes(), //分 
						"s+": this.getSeconds(), //秒 
						"q+": Math.floor((this.getMonth() + 3) / 3), //季度 
						"S": this.getMilliseconds() //毫秒 
					};
					if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
					for (var k in o)
						if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : ((
							"00" + o[k]).substr(("" + o[k]).length)));
					return fmt;
				}
				function chushihua() {
					// 初始化地图
					var map = new AMap.Map('map-container', {
						zoom: 10,
					})
					var content = [
						"<div>订单距离正在计算中</div>"
					];
					
					// 创建 infoWindow 实例	
					that.infoWindow = new AMap.InfoWindow({
						anchor: 'bottom-center',
						content: content.join("<br>") //传入 dom 对象，或者 html 字符串
					});
					wei = parseFloat(localStorage.getItem('slat')) 
					jing = parseFloat(localStorage.getItem('slng')) 
					that.infoWindow.open(map, [jing, wei]);
					//加载PathSimplifier，loadUI的路径参数为模块名中 'ui/' 之后的部分 
					AMapUI.load(['ui/misc/PathSimplifier'], function(PathSimplifier) {
						if (!PathSimplifier.supportCanvas) {
							alert('当前环境不支持 Canvas！');
							return;
						}
						//启动页面
						initPage(PathSimplifier);
					});
					function initPage(PathSimplifier) {
						//创建组件实例
						var pathSimplifierIns = new PathSimplifier({
							zIndex: 100,
							map: map, //所属的地图实例
							getPath: function(pathData, pathIndex) {
								//返回轨迹数据中的节点坐标信息，[AMap.LngLat, AMap.LngLat...] 或者 [[lng|number,lat|number],...]
								return pathData.path;
							},
							getHoverTitle: function(pathData, pathIndex, pointIndex) {
								//返回鼠标悬停时显示的信息
								if (pointIndex >= 0) {
									//鼠标悬停在某个轨迹节点上
									return pathData.name + '，点:' + pointIndex + '/' + pathData.path.length;
								}
								//鼠标悬停在节点之间的连线上
								return pathData.name + '，点数量' + pathData.path.length;
							},
							renderOptions: {
								//轨迹线的样式
								pathLineStyle: {
									strokeStyle: 'red',
									lineWidth: 4,
									dirArrowStyle: true
								}
							}
						});
						if(localStorage.getItem('dtype')==1){
							//这里构建两条简单的轨迹，仅作示例
							pathSimplifierIns.setData([{
								name: '轨迹名称',
								path: [
									[localStorage.getItem('slng'), localStorage.getItem('slat')],
									[localStorage.getItem('slng'), localStorage.getItem('slat')]
								]
							}]);
						}else{
							//这里构建两条简单的轨迹，仅作示例
							pathSimplifierIns.setData([{
								name: '轨迹名称',
								path: [
									[localStorage.getItem('flng'), localStorage.getItem('flat')],
									[localStorage.getItem('slng'), localStorage.getItem('slat')]
								]
							}]);
						}
						

						//创建一个巡航器
						var navg0 = pathSimplifierIns.createPathNavigator(0, //关联第1条轨迹
							{
								loop: true, //循环播放
								speed: 1000,
								pathNavigatorStyle: {
									width: 24,
									height: 24,
									//使用图片
									strokeStyle: null,
									fillStyle: null,
									//经过路径的样式
									pathLinePassedStyle: {
										lineWidth: 6,
										strokeStyle: 'white',
										dirArrowStyle: {
											stepSpace: 15,
											strokeStyle: '#FF8190'
										}
									}
								}
							});

						navg0.start();
					}
				}
				chushihua()
				this.searchser()

			}
		})
	</script>
</html>
