<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/date.css" />
		<link rel="stylesheet" type="text/css" href="../css/pay.css" />
		<script src="../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=3adc59b361b877d943cda0ce50b9b4da"></script>
		<script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
	</head>
	<body>
		<div class="wrapper">

			<div class="main">
				<div id="map-container"></div>
				<div class="header">
					<div class="header-aside mui-action-back">
						<img src="../img/Group 26.png">
					</div>
					<!-- <div class="header-text">使用须知</div> -->
				</div>
				<img src="../img/shuaxin.png" class="shua">
				<div class="main-two">
					<div class="one-box" @click="opennew('adresslist')">
						<div class="one-left">取</div>
						<div class="one-right">
							<div class="right-left">
								<div class="one-text">{{fdizhi}}</div>
								<div class="one-news">{{fdizhidetail}}</div>
							</div>
						</div>
						<div class="right-right">
							<div class="one-text">{{fshoujihao}}</div>
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="one-box" @click="opennew('fadresslist')">
						<div class="one-left one-zi">收</div>
						<div class="one-right">
							<div class="right-left">
								<div class="one-text">{{sdizhi}}</div>
								<div class="one-news">{{sdizhidetail}}</div>
							</div>
							<div class="right-right">
								<div class="one-text">{{sshoujihao}}</div>
								<img src="../img/arrright.png">
							</div>
						</div>
					</div>
					<!-- <img src="../../static/fen.png" class="fufu"> -->
				</div>
				<div class="main-two">

					<div class="two-one">
						<div class="two-left">
							<div class="two-text">购买时间:</div>
							<input class="two-text" name="appDateTime" id="appDateTime" value="立即购买"/>
							<div id="datePlugin"></div>
						</div>
						<div class="two-right">
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="two-one">
						<a class="two-left" href="#jprice">
							<div class="two-text">物品类型:</div>
							<div class="two-text wutype" v-if="navdata.length!=0">{{navdata[wuindex].maRtName}}</div>
							<div id="datePlugin"></div>
						</a>
						<div class="two-right">
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="two-one" @click="youchange">
						<div class="two-left">
							<div class="two-text liang">优惠</div>
							<div class="two-word two-zi">{{youdata.length==0?'暂无可用优惠券':youdata[youindex].maRdrDiscount/10+'折优惠券'}}</div>
						</div>
						<div class="two-right">
							<img src="../img/arrright.png">
						</div>
					</div>
					<div class="two-one">
						<div class="two-left">
							<div class="two-text">加价:</div>
							<input class="two-word two-zi" placeholder="给师傅一个鼓励吧" v-model="xiaofei" @input="myajax"/>
							元
						</div>
					</div>
					<div class="two-one">
						<div class="two-left">
							<div class="two-text">订单备注:</div>
							<input class="two-word two-zi" placeholder="点击这里输入订单备注信息" v-model="beizhu" @input="myajax"/>
						</div>
					</div>
					<div class="two-one">
						<div class="two-left">
							<div class="two-text">代收金额:</div>
							<input class="two-word two-zi" placeholder="请输入代收金额" v-model="gujia" @input="myajax"/>
							元
						</div>
					</div>
					<div class="two-two">
						<div class="two-text liang">服务</div>
						<div class="t-text" v-for="(val,index) in serdata" :class="val.boo==true?'t-active':''" @click="changeser(index)">{{val.maMsrDay}} - ￥{{val.maMsrPrice}}</div>
					</div>
				</div>
				<div class="main-three">温馨提示:根据相关法律法规要求，跑客在取货时对您所寄物品进行检查，请不要将物品外包装封口。谢谢您的配合。</div>
			</div>
			<div class="bottom">
				<div class="bottom-left">¥{{searchdata.usRtPrice}}</div>
				<div class="bottom-content" @click="openming()">
					<div class="bottom-text">费用明细</div>
					<img src="../img/arrright.png">
				</div>
				<div class="bottom-right" @click="xiadan()">下单</div>
			</div>
			<div id="jprice" class="mui-popover mui-popover-action">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell myindex" v-for="(val,index) in navdata" @click="changenav(index)">
						<a href="#" data-id='0'>{{val.maRtName}}</a>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#zprice" data-id='-1'><b>取消</b></a>
					</li>
				</ul>
			</div>
			<div class="you" v-if="youboo"  @click="youchange">
				<div class="you-title">
					我的优惠券
				</div>
				<div class="you-box">
					<div class="you-tab" v-for="(val,index) in youdata" @click="changeyou(index)">
						<div class="you-left">
							<div class="price">
								{{val.maRdrDiscount/10}}折
							</div>
							<div class="you-text">
								{{val.maRdrCreateTimeString}}
							</div>
						</div>
						<div class="you-right">
							使用
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/date.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: '.wrapper',
			data: {
				paytext: '',//取货内容
				fdizhi: localStorage.getItem('fdizhi'), //发货地址
				fdizhidetail: localStorage.getItem('fdizhidetail'), //发货地址详情
				fshoujihao:localStorage.getItem('fshoujihao'),
				sdizhi: localStorage.getItem('sdizhi'),//收货地址
				sdizhidetail: localStorage.getItem('sdizhidetail'),//收货地址详情
				sshoujihao:localStorage.getItem('sshoujihao'),
				youboo:false,//优惠boo
				youdata:[],//优惠券data
				youindex:0,
				xiaofei:'',//小费
				beizhu:'',//备注
				gujia:'',//代收金额
				searchdata:'',//价格data
				serdata:[],//所有服务data
				wuindex:0, //分类索引
				navdata:[],//分类数组
				channel:[]
			},
			methods: {
				changeyou:function(index){
					// 选择优惠
					this.youindex=index
					this.myajax()
				},
				changenav:function(index){
					// 选择分类
					this.wuindex=index
					$('.mui-popover').hide()
					$('.mui-backdrop').hide()
					this.myajax()
				},
				changeser:function(index){
					// 选择服务
					this.serdata[index].boo=!this.serdata[index].boo
					this.myajax()
				},
				// 费用明细
				openming:function(){
					localStorage.setItem('mingxi',this.searchdata.maRtPriceRecord)
					this.opennew('mingxi')
				},
				searchser:function(){
					var that=this
					
					// 查询分类
					$.ajax({
						type: "post",
						url: localStorage.getItem('myurl') + '/selectMaRunTypeUser',
						dataType: 'json',
						success: function(res) {
							that.navdata=res.data
							// 查询服务
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + '/selectMaServiceRuleAll',
								dataType: 'json',
								success: function(res) {
									for(i in res.data){
										res.data[i].boo=false
									}
									that.serdata=res.data
									// 查询优惠券
									$.ajax({
										type: "post",
										url: localStorage.getItem('myimg') + '/maAllocationRecord/getMaAllocationRecordList',
										dataType: 'json',
										data:{
											usUserId: localStorage.getItem('userid'),
										},
										success: function(res) {
											that.youdata=res.data
											that.myajax()
										},
										error: function(err) {
											
										}
									});
								},
								error: function(err) {
									
								}
							});
						},
						error: function(err) {
							
						}
					});
					
				},
				myajax:function(){
					var that=this,
					maServiceRuleId=[]
					// 查询价格
					for(i in that.serdata){
						if(that.serdata[i].boo==true){
							maServiceRuleId.push(that.serdata[i].maServiceRuleId)
						}
					}
					$.ajax({
						type: "post",
						url: localStorage.getItem('myurl') + '/userWalletTakeSubstitutionDeliverySelect',
						dataType: 'json',
						data: {
							usRtIsType:3,
							usUserId: localStorage.getItem('userid'),
							usRtCreateName: localStorage.getItem('userid'),
							usRtDescribe: that.paytext, //物品描述
							usRtIsArrive:$('#appDateTime').val()=='立即购买'?'0':'1',
							usRtArriveTime:new Date($('#appDateTime').val()=='立即购买'?new Date().Format("yyyy-MM-dd HH:mm:ss"):$('#appDateTime').val()+':00'),
							time:'',
							usRtProvince : localStorage.getItem('fdizhi'),
							usRtCity:'',
							usRtArea:'',
							usRtPhone:localStorage.getItem('fshoujihao'),
							usRtDetails :localStorage.getItem('fdizhidetail'), //发货地址详情
							usAddressContactId:localStorage.getItem('fid'), //发货地址id
							usAddressId:localStorage.getItem('sid'), //收货地址id
							usRtForecastPrice:that.gujia==''?0.00:that.gujia, //代收款
							usRtRemarks :that.beizhu, //备注
							maServiceRuleId :JSON.stringify(maServiceRuleId), //服务id
							UsRtIsAddress:1, //是否指定地址 0 不 1是
							usUpPrice:that.xiaofei==''?0.00:that.xiaofei,  //加价
							usRunType:that.navdata[that.wuindex].maRunTypeId, //分类id
							maRunDiscountRuleId:that.youdata.length==0?'':that.youdata[that.youindex].maRunDiscountRuleId //优惠券id
						},
						success: function(res) {
							delete res.data.usRtCreateTime
							delete res.data.usRtdCreateTime
							delete res.data.usRtdItemSendTime
							delete res.data.usRtUpdateTime
							delete res.data.usRtCreateTimeString
							res.data.usRtArriveTime=new Date(res.data.usRtArriveTime)
							that.searchdata=res.data
						},
						error: function(err) {
							
						}
					});
				},
				xiadan:function(){
					var that=this
					var btnArray = [
					// 	{
					// 	title: "余额"
					// },
					{
						title: "支付宝"
					}, {
						title: "微信"
					}]; //选择按钮  1 2 3
					plus.nativeUI.actionSheet({
						title: "请选择支付方式",
						cancel: "取消",
						buttons: btnArray
					}, function(e) {
						var index = e.index;
						switch (index) {
							// case 1:
							// 	that.pay('/userWalletTakeSubstitutionDelivery',0,)
							// 	break;
							case 1:
								that.pay('/createUsReplaceTakeAliWx',1)
								break;
							case 2:
								that.pay('/createUsReplaceTakeAliWx',2)
								break;
						}
					});
				},
				youchange:function(){
					this.youboo=!this.youboo
				},
				dchange:function(index){
					this.dtype=index
				},
				pay:function(url,type){
					var that=this
					if(type==1||type==2){
						that.searchdata.status=type
					}
					that.searchdata.usRtPrice=0.01
					$.ajax({
						type: "post",
						url: localStorage.getItem('myurl') + url,
						dataType: 'json',
						data:that.searchdata,
						success: function(res) {
							if(res.data==1&&type==0){
								mui.toast('下单成功')
								that.opennew('order')
							}else if(type==1){
								plus.payment.request(that.channel[0], res.data[0], function(result) {
									mui.toast('下单成功')
									that.opennew('order')
								}, function(error) {
									mui.toast('支付失败')
								});
							}else{
								plus.payment.request(that.channel[1], res, function(result) {
									mui.toast('下单成功')
									that.opennew('order')
								}, function(error) {
									mui.toast('支付失败')
								});
							}
						},
						error: function(err) {
							
						}
					});
				},
				opennew: function(id) {
					// 打开新页面
					mui.openWindow({
						url: './' + id + '.html',
						id: id
					})
				}
			},
			mounted: function() {
				var that=this
				// 1. 获取支付通道
				function plusReady() {
					// 获取支付通道
					plus.payment.getChannels(function(channels) {
						that.channel = channels;
					}, function(e) {
						alert("获取支付通道失败：" + e.message);
					});
				}
				window.addEventListener("pay", function() {
					that.fdizhi=localStorage.getItem('fdizhi') //发货地址
					that.fdizhidetail=localStorage.getItem('fdizhidetail') //发货地址详情
					that.fshoujihao=localStorage.getItem('fshoujihao')
					that.sdizhi=localStorage.getItem('sdizhi')//收货地址
					that.sdizhidetail=localStorage.getItem('sdizhidetail')//收货地址详情
					that.sshoujihao=localStorage.getItem('sshoujihao')
					that.myajax()
				})
				if(window.plus) {
					plusReady();
				} else {
					document.addEventListener('plusready', plusReady, false);
				}
				$('body').on('click','#dateconfirm',function(){
					that.myajax()
				})
				Date.prototype.Format = function (fmt) {
				    var o = {
				        "M+": this.getMonth() + 1, //月份 
				        "d+": this.getDate(), //日 
				        "H+": this.getHours(), //小时 
				        "m+": this.getMinutes(), //分 
				        "s+": this.getSeconds(), //秒 
				        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
				        "S": this.getMilliseconds() //毫秒 
				    };
				    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
				    for (var k in o)
				    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
				    return fmt;
				}
				$('#appDateTime').date({
					theme: "datetime"
				})
				// 初始化地图
				var map = new AMap.Map('map-container', {
					zoom: 10
				})
				//加载PathSimplifier，loadUI的路径参数为模块名中 'ui/' 之后的部分 
				AMapUI.load(['ui/misc/PathSimplifier'], function(PathSimplifier) {

					if (!PathSimplifier.supportCanvas) {
						alert('当前环境不支持 Canvas！');
						return;
					}

					//启动页面
					initPage(PathSimplifier);
				});
				
				function initPage(PathSimplifier) {
					//创建组件实例
					var pathSimplifierIns = new PathSimplifier({
						zIndex: 100,
						map: map, //所属的地图实例
						getPath: function(pathData, pathIndex) {
							//返回轨迹数据中的节点坐标信息，[AMap.LngLat, AMap.LngLat...] 或者 [[lng|number,lat|number],...]
							return pathData.path;
						},
						getHoverTitle: function(pathData, pathIndex, pointIndex) {
							//返回鼠标悬停时显示的信息
							if (pointIndex >= 0) {
								//鼠标悬停在某个轨迹节点上
								return pathData.name + '，点:' + pointIndex + '/' + pathData.path.length;
							}
							//鼠标悬停在节点之间的连线上
							return pathData.name + '，点数量' + pathData.path.length;
						},
						renderOptions: {
							//轨迹线的样式
							pathLineStyle: {
								strokeStyle: 'red',
								lineWidth: 4,
								dirArrowStyle: true
							}
						}
					});

					//这里构建两条简单的轨迹，仅作示例
					pathSimplifierIns.setData([{
						name: '轨迹名称',
						path: [
							[localStorage.getItem('flng'), localStorage.getItem('flat')],
							[localStorage.getItem('slng'), localStorage.getItem('slat')]
						]
					}]);

					//创建一个巡航器
					var navg0 = pathSimplifierIns.createPathNavigator(0, //关联第1条轨迹
						{
							loop: true, //循环播放
							speed: 1000,
							pathNavigatorStyle: {
								width: 24,
								height: 24,
								//使用图片
								strokeStyle: null,
								fillStyle: null,
								//经过路径的样式
								pathLinePassedStyle: {
									lineWidth: 6,
									strokeStyle: 'white',
									dirArrowStyle: {
										stepSpace: 15,
										strokeStyle: '#FF8190'
									}
								}
							}
						});

					navg0.start();
				}
				this.searchser()
				
			}
		})
	</script>
</html>
